<template>
    <div>
        <div id="userChart1" class="main_container" _echarts_instance_></div>
        <div id="userChart2" class="main_container"></div>
    </div>

</template>

<script>
import {mapGetters} from 'vuex'
import {staticsUserRole, staticsUserInterests} from '@api/api'
export default {
  name: 'ProductStatics',
  data () {
    return {
      stasticsVO: []
    }
  },
  computed: {
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  created () {
  },
  mounted () {
    if (this.userRoleId === 0) {
      this.initUserChart1()
      this.initUserChart2()
    }
  },
  destroyed () {
    var box = document.getElementById('userChart1')
    box.remove()
    box = document.getElementById('userChart2')
    box.remove()
  },
  methods: {
    initUserChart1 () {
      console.log('this.userChart1')

      // 初始化echarts实例
      var userChart1 = this.$echarts.init(document.getElementById('userChart1'))
      // 绘制图表
      var option1 = {
        title: {
          text: '用户种类',
          subtext: '所有用户种类',
          left: 'center'
        },
        tooltip: {
          trigger: 'item'
        },
        legend: {
          orient: 'vertical',
          left: 'left'
        },
        series: [
          {
            name: '用户类型',
            type: 'pie',
            radius: '50%',
            data: [
            ],
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      }
      // 发送请求，接收数据
      staticsUserRole().then(res => {
        this.stasticsVO = res.data
        this.stasticsVO.forEach(function (element) {
          option1.series[0].data.push({value: element.value, name: element.nameX})
        })
        console.log('循环之后option1.series[0].data')
        console.log(option1.series[0].data)
        userChart1.clear()
        userChart1.setOption(option1)
      })
    },
    initUserChart2 () {
      console.log('this.userChart2')

      // 初始化echarts实例
      var contain = this.$echarts.getInstanceByDom(document.getElementById('userChart2'))
      if (contain !== null && contain !== '' && typeof contain !== 'undefined') {
        console.log(contain)
        contain.dispose()
        console.log(contain)
      }

      var userChart2 = this.$echarts.init(document.getElementById('userChart2'))
      // 绘制图表
      var option2 = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            // Use axis to trigger tooltip
            type: 'shadow' // 'shadow' as default; can also be 'line' or 'shadow'
          }
        },
        legend: {},
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'value'
        },
        yAxis: {
          type: 'category',
          data: []
        },
        series: [
          {
            name: '采购方',
            type: 'bar',
            stack: 'total',
            label: {
              show: true
            },
            emphasis: {
              focus: 'series'
            },
            data: []
          },
          {
            name: '供应方',
            type: 'bar',
            stack: 'total',
            label: {
              show: true
            },
            emphasis: {
              focus: 'series'
            },
            data: []
          }
        ]
      }
      // 发送请求，接收数据
      staticsUserInterests().then(res => {
        this.stasticsVO = res.data

        for (var i = 0; i < this.stasticsVO.length; i++) {
          let element = this.stasticsVO[i]
          // y轴类别
          if (i === 0) { option2.yAxis.data.push(element.nameX) } else {
            var detect = option2.yAxis.data[i - 1]
            if (element.nameX !== detect) {
              option2.yAxis.data.push(element.nameX)
            }
          }

          // x 轴采购方，供应方
          if (element.nameY === '3') {
            option2.series[0].data.push(element.value)
          }
          if (element.nameY === '4') {
            option2.series[1].data.push(element.value)
          }
        }
        userChart2.clear()
        userChart2.setOption(option2)
      })
    }

  }
}
</script>

<style scoped>

</style>
