<template>

    <div>
        <el-card style="width: 100%;height: 100%">
            <div id="userChart1" class="main_container1" _echarts_instance_></div>
        <hr/>
            <h3 align="center">采购方、供应方主营方向</h3>
            <div id="userChart2" class="main_container2"></div>
        </el-card>
    </div>

</template>

<script>
import {mapGetters} from 'vuex'
import {staticsUserRole, staticsUserInterests} from '@api/api' // staticsUserRole, staticsUserInterests
export default {
  name: 'UserStatics',
  data () {
    return {
      stasticsVO: []
    }
  },
  computed: {
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  created () {
  },
  mounted () {
    if (this.userRoleId === 0) {
      this.initUserChart1()
      this.initUserChart2()
    }
  },
  destroyed () {
    var box = document.getElementById('userChart1')
    box.remove()
    box = document.getElementById('userChart2')
    box.remove()
  },
  methods: {
    initUserChart1 () {
      console.log('this.userChart1')

      // 初始化echarts实例
      var userChart1 = this.$echarts.init(document.getElementById('userChart1'))
      // 绘制图表
      var option1 = {
        title: {
          text: '用户种类',
          subtext: '',
          left: 'center'
        },
        tooltip: {
          trigger: 'item'
        },
        legend: {
          orient: 'vertical',
          left: 'left'
        },
        series: [
          {
            name: '用户类型',
            type: 'pie',
            radius: '50%',
            // data: []
            data: [
              // {value: 1, name: '超级管理员'},
              // {value: 1, name: '管理员'},
              // {value: 1, name: '评估方'},
              // {value: 3, name: '采购方'},
              // {value: 2, name: '供应方'}
            ],
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      }
      // 发送请求，接收数据
      staticsUserRole().then(res => {
        this.stasticsVO = res.data
        this.stasticsVO.forEach(function (element) {
          option1.series[0].data.push({value: element.value, name: element.nameX})
        })
        console.log('循环之后option1.series[0].data')
        console.log(option1.series[0].data)
        userChart1.clear()
        userChart1.setOption(option1)
      })
      // 静态的时候
      // userChart1.clear()
      // userChart1.setOption(option1)
    },
    initUserChart2 () {
      console.log('this.userChart2')

      // 初始化echarts实例
      var contain = this.$echarts.getInstanceByDom(document.getElementById('userChart2'))
      if (contain !== null && contain !== '' && typeof contain !== 'undefined') {
        console.log(contain)
        contain.dispose()
        console.log(contain)
      }

      var userChart2 = this.$echarts.init(document.getElementById('userChart2'))
      // 绘制图表
      var option2 = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            // Use axis to trigger tooltip
            type: 'shadow' // 'shadow' as default; can also be 'line' or 'shadow'
          }
        },
        legend: {},
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'value'
        },
        yAxis: {
          type: 'category',
          // data: []
          data: [
            // '磨削加工', '放电钻孔加工', '放电加工', '五轴加工'
          ]
        },
        series: [
          {
            name: '采购方',
            type: 'bar',
            stack: 'total',
            label: {
              show: true
            },
            emphasis: {
              focus: 'series'
            },
            // data: []
            data: [
              // 1, 2, 1, 3
            ]
          },
          {
            name: '供应方',
            type: 'bar',
            stack: 'total',
            label: {
              show: true
            },
            emphasis: {
              focus: 'series'
            },
            // data: []
            data: [
              // 1, 1, 2, 1
            ]
          }
        ]
      }
      // 发送请求，接收数据
      staticsUserInterests().then(res => {
        this.stasticsVO = res.data

        for (var i = 0; i < this.stasticsVO.length; i++) {
          let element = this.stasticsVO[i]
          console.log(element)
          // y轴类别
          if (i === 0) {
            option2.yAxis.data.push(element.nameX)
            console.log(element.nameX)
          } else {
            var detect = option2.yAxis.data[option2.yAxis.data.length - 1]
            if (element.nameX !== detect) {
              console.log(element.nameX, element.nameX === detect)
              option2.yAxis.data.push(element.nameX)
              if (option2.series[0].data.length > option2.series[1].data.length) {
                option2.series[1].data.push(0)
              }
              if (option2.series[0].data.length < option2.series[1].data.length) {
                option2.series[0].data.push(0)
              }
            }
          }
          // x 轴采购方，供应方
          if (element.nameY === '3') {
            console.log(element.nameY)
            option2.series[0].data.push(element.value)
          }
          if (element.nameY === '4') {
            console.log(element.nameY)
            option2.series[1].data.push(element.value)
          }
        }

        if (option2.series[0].data.length > option2.series[1].data.length) {
          option2.series[1].data.push(0)
        }
        if (option2.series[0].data.length < option2.series[1].data.length) {
          option2.series[0].data.push(0)
        }
        userChart2.clear()
        userChart2.setOption(option2)
      })

      // 静态时
      // userChart2.clear()
      // userChart2.setOption(option2)
    }

  }
}
</script>

<style scoped>

    .main_container1 {
        margin:auto;
        /*padding-left: 30%;*/
        width: 50%;
        height: 200px;
        overflow: hidden;
    }
    .main_container2 {
        margin:auto;
        /*padding-left: 30%;*/
        /*margin-left: auto;*/
        width: 50%;
        height: 400px;
        overflow: hidden;
    }
</style>
