<template>
    <div id="details">
        <!-- 头部 -->
        <el-card class="crumbs-card">
          <div class="crumbs">

            <!-- 面包屑 -->
            <el-breadcrumb separator="/">
              <el-breadcrumb-item to="/">Home</el-breadcrumb-item>
              <el-breadcrumb-item>Check</el-breadcrumb-item>
              <el-breadcrumb-item>Check List</el-breadcrumb-item>
            </el-breadcrumb>

          </div>
        </el-card>
        <!-- 头部END -->
    <!-- 主要内容 -->
    <div class="main">
        <!-- 左侧图 -->
        <div class="block">
            <div >
                <el-link :href="media.url">
                    <img
                            style="height:450px;width:450px;margin-left: 100px;"
                            :src="media.frameUrl"
                            :alt="media.mediaTitle"
                            :onerror="defaultImg"
                    />
                </el-link>
            </div>
        </div>
        <!-- 左侧图END -->

        <!-- 右侧内容区 -->
        <div class="content" style="display: inline-grid;">
            <div style="display: inline-flex;">
                <p class="intro">label from model:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <h1 class="name">{{media.labelFromModel}}</h1>
            </div>
            <div style="display: inline-flex;">
                <p class="intro">upload time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p class="store">{{media.createTime}}</p>
            </div>
            <div style="display: inline-flex;">
                <p class="intro">media title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p class="intro">{{media.mediaTitle}}</p>
            </div>

            <!-- <div class="price">
                    <span   v-if="product.generalProductRole===0">
                        整体估价:&nbsp;&nbsp;&nbsp;{{product.caigouTotalPrice}}元</span>
                <div class="orderCountDown" v-if="product.generalProductRole===0"  >
                    {{timeCount}}
                </div>
                <span   v-if="product.generalProductRole===1">
                        商品单价:&nbsp;&nbsp;&nbsp;{{product.gongyingPrice}}元</span>
            </div> -->

            <!-- 内容区底部按钮 -->
            <div class="button">
                <el-button v-if="userRoleId===3 && media.checkState===1 && media.checkResult===1" class="like" >valid content</el-button>
                <el-button v-if="userRoleId===3 && media.checkState===1 && media.checkResult===0" class="like">unvalid content</el-button>

                <el-button v-if="userRoleId===3 && media.checkState===0 " class="shop-cart" @click="passTheContent">pass the content</el-button>
                <el-button v-if="userRoleId===3 && media.checkState===0" class="shop-cart" @click="dialogRejectTheContent=true">reject the content</el-button>
            </div>
            <!-- 内容区底部按钮END -->
            <!-- <div class="pro-policy">
                <ul>
                    <li>
                        <i class="el-icon-circle-check"></i> 机加工零件交易平台
                    </li>
                </ul>
            </div> -->

        </div>
        <!-- 右侧内容区END -->
    </div>
    <!-- 主要内容END -->

        <!--审核不通过-->
        <el-dialog title="reject the content" :visible.sync="dialogRejectTheContent">
            <el-form :model="checkHistory">
                <el-form-item label="reason" label-width="80px">
                    <el-input v-model="checkHistory.description" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="content catagory">
                    <el-checkbox-group v-model="checkHistory.rejectCatagories">
                      <el-checkbox label="porn"></el-checkbox>
                      <el-checkbox label="violence"></el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogRejectTheContent = false">取 消</el-button>
                <el-button type="primary" @click="RejectTheContent">确 定</el-button>
            </div>
        </el-dialog>

    </div>
</template>

<script>
import {} from '@api/api'
import {mapGetters} from 'vuex'

export default {
  name: 'ContentDetail',
  components: {},
  data () {
    return {

      defaultImg: 'this.src="' + require('@assets/images/pdf.png') + '"',

      media: {
        id: '',
        userName: '',
        userId: '',
        createTime: '',
        fromResource: '',
        checkResult: 0,
        labelFromModel: '',
        url: '', // complete file
        frameUrl: '', // if the file is a vedio, the frameUrl to show the vedio, if the file is a picture just the same as the url
        typeId: 1,
        mediaTitle: ''
      },
      user: {
        id: ''
      },
      dialogRejectTheContent: false,

      checkHistory: {
        description: '',
        rejectCatagories: []
      }
    }
  },
  computed: {
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  created () {
    this.media = this.$route.query.media
    this.user.id = this.$route.query.userId
  },
  watch: {

  },

  methods: {
    RejectTheContent () {
      console.log(this.checkHistory)
    },
    passTheContent () {

    }
  }
}
</script>

<style>
    /* 头部CSS */
    #details .page-header {
        height: 64px;
        margin-top: -20px;
        z-index: 4;
        background: #fff;
        border-bottom: 1px solid #e0e0e0;
        -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
    }
    #details .page-header .title {
        width: 1225px;
        height: 64px;
        line-height: 64px;
        font-size: 18px;
        font-weight: 400;
        color: #212121;
        margin: 0 auto;
    }
    #details .page-header .title p {
        padding-left: 2%;
        float: left;
    }
    #details .page-header .title .list {
        padding-right: 3%;
        height: 64px;
        float: right;
    }
    #details .page-header .title .list li {
        float: left;
        margin-left: 20px;
    }
    #details .page-header .title .list li a {
        font-size: 14px;
        color: #616161;
    }
    #details .page-header .title .list li a:hover {
        font-size: 14px;
        color: #ff6700;
    }
    /* 头部CSS END */

    /* 主要内容CSS */
    #details .main {
        width: 1225px;
        height: 560px;
        padding-top: 30px;
        margin: 0 auto;
    }
    #details .main .block {
        margin-left: -3%;
        float: left;
        width: 450px;
        height: 450px;

    }
    #details .el-carousel .el-carousel__indicator .el-carousel__button {
        background-color: rgba(163, 163, 163, 0.8);
    }
    #details .main .content {
        float: right;
        margin-left: 25px;
        width: 650px;
        background-color: rgb(244, 244, 244);
    }
    #details .main .content .name {
        height: 30px;
        line-height: 30px;
        font-size: 24px;
        font-weight: normal;
        color: #212121;
    }
    #details .main .content .intro {
        color: #b0b0b0;
        padding-top: 10px;
    }
    #details .main .content .store {
        color: #ff6700;
        padding-top: 10px;
    }
    #details .main .content .price {
        display: block;
        font-size: 18px;
        color: #ff6700;
        border-bottom: 1px solid #e0e0e0;
        padding: 25px 0 25px;
    }
    #details .main .content .price .del {
        font-size: 14px;
        margin-left: 10px;
        color: #b0b0b0;
        text-decoration: line-through;
    }
    #details .main .content .pro-list {
        background: #f9f9fa;
        padding: 30px 60px;
        margin: 50px 0 50px;
    }
    #details .main .content .pro-list span {
        line-height: 30px;
        color: #616161;
    }
    #details .main .content .pro-list .pro-price {
        float: right;
    }
    #details .main .content .pro-list .pro-price .pro-del {
        margin-left: 10px;
        text-decoration: line-through;
    }
    #details .main .content .pro-list .price-sum {
        color: #ff6700;
        font-size: 24px;
        padding-top: 20px;
    }
    #details .main .content .button {
        height: 55px;
        margin: 10px 0 20px 0;
    }
    #details .main .content .button .el-button {
        float: left;
        height: 55px;
        font-size: 16px;
        color: #fff;
        border: none;
        text-align: center;
    }
    #details .main .content .button .shop-cart {
        width: 180px;
        background-color: #ff6700;
    }
    #details .main .content .button .shop-cart:hover {
        background-color: #f25807;
    }

    #details .main .content .button .like {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 180px;
        margin-left: 40px;
        background-color: #b0b0b0;
    }
    #details .main .content .button .like:hover {
        background-color: #757575;
    }
    #details .main .content .pro-policy li {
        float: left;
        margin-right: 20px;
        color: #b0b0b0;
    }
    #details .main .content .price .orderCountDown{
        display: inline-block;
        width: 20%;
        vertical-align: middle;
        margin-left: 30%;
        /*background-color: #ff6874;*/
        color: #ff6874;
        /*float: right;*/
    }
    .router-link-active {
        text-decoration: none;
    }
    /* 主要内容CSS END */
    .daishenheBunengchakanjingjia {
    }
</style>
