<template>
  <div >
    <el-card class="crumbs-card">
      <div class="crumbs">

        <!-- 面包屑 -->
        <el-breadcrumb separator="/">
          <el-breadcrumb-item to="/">Home</el-breadcrumb-item>
          <el-breadcrumb-item>Check</el-breadcrumb-item>
          <el-breadcrumb-item>Unchecked pictures</el-breadcrumb-item>
        </el-breadcrumb>

      </div>
    </el-card>
    <ContentList :typeId="typeId"></ContentList>
  </div>
</template>
<script>
import ContentList from './MediaComponents/ContentList.vue'

export default {
  name: 'PictureList',
  components: {ContentList},
  props: {
  },
  created () {
  },
  data () {
    return {
      typeId: 1
    }
  },
  computed: {

  },
  methods: {
  }
}
</script>

<style scoped>
</style>
