<template>
    <div >
    <el-dialog
        title="用户注册"
        :visible.sync="RegistDialogVisible"
        width="45%"
        >
        <div class="registForm">
        <el-form  label-width="120px" :rules="rules" :label-position="labelPosition" :model="registUser">
            <el-form-item label="用户类型" prop="roleId">
                <el-radio-group v-model="registUser.roleId" >
                    <el-radio label="3" value="3">采购方</el-radio>
                    <el-radio label="4" value="4">供应方</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="社会统一代码" prop="societyCode">
                <el-input v-model="registUser.societyCode"></el-input>
            </el-form-item>
            <el-form-item label="公司名称" prop="companyName">
                <el-input v-model="registUser.companyName"></el-input>
            </el-form-item>
            <el-form-item label="公司地址" prop="companyAddress" >
                <!--<el-select v-model="registUser.companyAddress" placeholder="请选择公司所在区域">-->
                    <!--<el-option v-for="address in allAddresses"-->
                               <!--:label="address.name"-->
                               <!--:value="address.itemvalue"-->
                               <!--:key="address.id">-->
                    <!--</el-option>-->
                <!--</el-select>-->
                <el-cascader
                        v-model="registUser.companyAddress"
                        placeholder="请选择公司所在区域"
                        :options="options"
                        clearable
                        @change="handleChange"></el-cascader>
            </el-form-item>

            <el-form-item label="主营方向" prop="userInterestIds">
                <el-checkbox-group v-model="registUser.interestIds">
                    <el-checkbox v-for="item in allInterestIdName"
                                 :key="item.id"
                                 :label=item.id :name=item.name >{{item.name}}</el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="公司简介" prop="companyDescription">
                <el-input type="textarea" v-model="registUser.companyDescription"></el-input>
            </el-form-item>
            <el-form-item label="上传营业执照" :required="true">
                <el-form-item style="display: inline-flex;">
                    <el-upload ref="uploadFile"
                               class="upload-demo"
                               action="/api/login/uploadLiscense"
                               :on-success="uploadLiscenseAvatarSuccess"
                               :before-remove="uploadLiscenseBeforeRemove"
                               :on-remove="uploadLiscenseRemove"
                               :limit="1"
                               style="width: 200px">
                        <el-button size="small" type="primary">点击上传</el-button>
                        <div slot="tip" class="el-upload__tip">只能上传一个文件</div>
                    </el-upload>
                </el-form-item>
            </el-form-item>

            <el-form-item label="用户名" prop="userName">
                <el-input v-model="registUser.userName"></el-input>
            </el-form-item>
            <el-form-item label="用户密码" prop="passWord">
                <el-input type="password" v-model="registUser.passWord" show-password="false"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="secondPassWord">
                <el-input type="password" v-model="registUser.secondPassWord" show-password="false"></el-input>
            </el-form-item>
            <el-form-item label="手机号码" prop="phone">
                <el-input v-model="registUser.phone"></el-input>
            </el-form-item>
            <el-form-item label="支付宝账号" prop="pLogin">
                <el-input v-model="registUser.pLogin"></el-input>
            </el-form-item>
            <el-form-item label="用户邮箱" prop="email">
                <el-input v-model="registUser.email"></el-input>
            </el-form-item>

            <el-form-item label="验证码" prop="vercode">
                <div class="verifyCodeInput">
                    <el-input type="text" size="100" placeholder="请输入验证码" v-model="registUser.vercode" />
                    <div style="margin-left: 3%;">
                        <el-button  type="primary" size="mini" v-on:click="sendVerCode">发送验证码</el-button>
                    </div>
                </div>
            </el-form-item>
        </el-form>
            <el-button class="registButton" type="text" @click="userRegist">注册</el-button>

        </div>
    </el-dialog>
        <el-dialog
                title="验证码发送成功"
                :visible.sync="verifyCodeDialogVisible"
                width="30%"
        >
            <span>验证码发送成功，有效期为5分钟，大约两分钟才能收到邮件，请耐心等待</span>
            <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="verifyCodeDialogVisible = false">确 定</el-button>
      </span>
        </el-dialog>
    </div>

</template>

<script>
import {getAllInterestIdName, getAllAddresses, getRegistVerCode, regist,
  removeLiscenseFromOBS} from '@api/api'

export default {
  name: 'regist',

  data () {
    return {
      options: [],
      labelPosition: 'left',

      allInterestIdName: [],
      allAddresses: [],

      // interestValue:0,
      // interestName:'',

      liscense: [],
      RegistDialogVisible: false,
      verifyCodeDialogVisible: false,

      registUser: {
        secondPassWord: '',
        id: '',
        userName: '',
        passWord: '',
        societyCode: '',
        email: '',
        roleId: 0,
        companyName: '',
        companyAddress: [],
        companyDescription: '',
        companyLiscense: '',

        interestIds: [],
        vercode: ''
      },
      // companyAddress, userInterestIds，liscense， roleId
      rules: {
        societyCode: [
          {required: true, message: '请输入社会统一代码', trigger: 'blur'},
          {min: 18, max: 18, message: '请输入18位社会统一代码', trigger: 'blur'},
          {trigger: 'blur',
            validator: (rule, value, callback) => {
              // var verifyCodereg = /^([0-9])+/
              var verifyCodereg = /^[0-9]*$/
              console.log(verifyCodereg.test(value))
              if (!verifyCodereg.test(value)) {
                callback(new Error('社会统一代码格式错误'))
              } else {
                callback()
              }
            }}
        ],
        companyName: [
          {required: true, message: '公司名称不可为空', trigger: 'blur'}
        ],
        companyAddress: [
          {required: true, message: '公司地址不可为空', trigger: 'change'}
        ],
        companyDescription: [
          {required: true, message: '公司简介不可为空', trigger: 'blur'}
        ],
        userName: [
          {required: true, message: '用户名不可为空', trigger: 'blur'},
          {min: 4, max: 18, message: '用户名长度错误，为6-18字', trigger: 'blur'}
        ],
        passWord: [
          {required: true, message: '密码不可为空', trigger: 'blur'},
          {min: 6, max: 30, message: '密码长度错误，为6-18位', trigger: 'blur'}
        ],
        secondPassWord: [
          {required: true, message: '密码不可为空', trigger: 'blur'},
          {min: 6, max: 18, message: '密码长度错误，为6-18位', trigger: 'blur'},
          {trigger: 'blur',
            validator: (rule, value, callback) => {
              if (value !== this.registUser.passWord) {
                callback(new Error('两次密码输入不一致'))
              }
            }
          }
        ],
        email: [
          {required: true, message: '邮箱不可为空', trigger: 'blur'},
          {trigger: 'blur',
            validator: (rule, value, callback) => {
              var emailreg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/
              console.log(emailreg.test(value))
              if (!emailreg.test(value)) {
                callback(new Error('邮箱格式错误'))
              } else {
                callback()
              }
            }}
        ],
        vercode: [
          {required: true, message: '验证码不可为空', trigger: 'blur'},
          {min: 6, max: 6, message: '验证码长度错误', trigger: 'blur'},
          {trigger: 'blur',
            validator: (rule, value, callback) => {
              var verifyCodereg = /^([0-9])+/
              console.log(verifyCodereg.test(value))
              if (!verifyCodereg.test(value)) {
                callback(new Error('验证码格式错误'))
              } else {
                callback()
              }
            }}],
        pLogin: [
          {required: true, message: '账号不可为空', trigger: 'blur'},
          {trigger: 'blur',
            validator: (rule, value, callback) => {
              var emailreg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/
              var phonereg = /^(0{0,1}(13[0-9]|15[7-9]|153|156|18[7-9])[0-9]{8})+/
              console.log(emailreg.test(value))
              if (!emailreg.test(value) && !phonereg.test(value)) {
                callback(new Error('格式错误,请输入支付宝的登录账号，邮箱或手机号'))
              } else {
                callback()
              }
            }}
        ],
        phone: [
          {required: true, message: '手机号不可为空', trigger: 'blur'},
          {trigger: 'blur',
            validator: (rule, value, callback) => {
              var emailreg = /^(0{0,1}(13[0-9]|15[7-9]|153|156|18[7-9])[0-9]{8})+/
              console.log(emailreg.test(value))
              if (!emailreg.test(value)) {
                callback(new Error('格式错误,请输入手机号'))
              } else {
                callback()
              }
            }}
        ]
      }
    }
  },
  created () {
    this.getAllInterestIdName()
    this.getAllAddresses()
  },
  methods: {
    regist () {
      // this.getAllInterestIdName()
      // this.getAllAddresses()
      this.RegistDialogVisible = true
    },
    getAllInterestIdName: function () {
      getAllInterestIdName().then(res => {
        this.allInterestIdName = res.data
      })
    },
    getAllAddresses: function () {
      getAllAddresses().then(res => {
        this.allAddresses = res.data

        var levelOneNumber = -1
        var levelOneValue = -1
        var levelTwoNumber = -1
        for (var i = 0; i < this.allAddresses.length; i++) {
          let data = {
            'value': '', // this.allAddresses.itemvalue,
            'label': '' // this.allAddresses.name,
            // 'children': []
          }
          if (this.allAddresses[i].itemvalue % 100 === 0) {
            levelTwoNumber = 0
            data.value = this.allAddresses[i].itemvalue
            data.label = this.allAddresses[i].name

            levelOneValue = this.allAddresses[i].itemvalue / 100
            levelOneNumber += 1

            this.options.push(data)
          }
          if (this.allAddresses[i].itemvalue % 100 !== 0) {
            data.value = this.allAddresses[i].itemvalue
            data.label = this.allAddresses[i].name
            if (levelOneValue === parseInt(this.allAddresses[i].itemvalue / 100)) {
              if (levelTwoNumber === 0) {
                this.options[levelOneNumber].children = []
                levelTwoNumber++
              }
              this.options[levelOneNumber].children.push(data)
            }
          }
        }
        console.log()
        console.log(this.options, 'this.options')
      })
    },
    sendVerCode: function () {
      if (this.registUser.email === '') {
        return this.$message('请输入邮箱之后，再点击发送验证码')
      }
      this.verifyCodeDialogVisible = true
      getRegistVerCode(this.registUser.email).then(res => {
      })
    },
    userRegist: function () {
      if (this.liscense === null || this.liscense.length === 0) {
        return this.$message('请上传文件之后注册')
      }
      this.registUser.id = this.liscense[0].userId
      this.registUser.companyLiscense = this.liscense[0].path
      if (this.registUser.companyAddress.length > 1) {
        this.registUser.companyAddress = this.registUser.companyAddress[this.registUser.companyAddress.length - 1]
      }
      regist(this.registUser).then(res => {
        if (res.data === '验证码正确，注册成功') {
          this.RegistDialogVisible = false
          this.$message('审核过后可以正常登录')
        }
        if (res.data !== '验证码正确，注册成功') {
          this.$message(res.data)
        }
      })
    },

    /**
       * :on-success="uploadLiscenseAvatarSuccess"
       *:before-remove="beforeRemove"
       *:before-upload="beforeUploadFile"
     * :on-remove="msgInfoRemove"
       * */
    uploadLiscenseAvatarSuccess (res, file) {
      this.liscense.push({userId: res.userId, path: res.path})
      console.log('this.liscense')
      console.log(this.liscense)
      console.log('this.registUser')
      console.log(this.registUser)
    },
    uploadLiscenseRemove (file, fileList) {
      // file.response.url
      this.liscense.forEach(x => {
        if (x.path === file.response.path) {
          this.liscense.splice(this.liscense.indexOf(x), 1)
          console.log('x.path')
          console.log(x.path)
          removeLiscenseFromOBS(x.path).then(res => {
            console.log(this.liscense)
          })
        }
      })
    },
    uploadLiscenseBeforeRemove (file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`)
    },
    handleChange (value) {
      console.log(value)
    }
  }
}

</script>

<style scoped>
  .registForm{
      height: auto;
      width:500px;
      /*margin-top: 100px;*/
      /*position: page;*/
      margin:0px auto;
      /*text-align: center;*/
 }
  .verifyCodeInput{
      display: inline-flex;
  }
    .registButton{
        width: 80%;
        height: 40px;
        line-height: 40px;
        margin-top:1%;
        margin-left: auto;
        margin-right: auto;

        background-color: #EBF7F3;
        color: #E3D0AD;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 3px #e6e5e5;
        box-shadow: 0px 0px 3px #e6e5e5;
        font-weight: bold;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
