<template>
    <div>
        <el-dialog title="修改商品内容" :visible.sync="dialogFormVisible" style="width: 80%;margin-left: 10%">
        <el-form  label-width="120px" v-if="productRole===0" label-position="left" >
            <el-form-item label="修改描述" prop="productGeneralDescription">
                <el-input v-model="product.generalDescription" style="width: 62%"></el-input>
            </el-form-item>
            <el-form-item  required="true" label="修改截至日期" >
                <el-date-picker
                        v-model="product.caigouDeadline"
                        type="datetime"
                        placeholder="选择日期时间"
                        prop="productCaigouDeadline">
                </el-date-picker>
            </el-form-item>
            <el-button type="primary" :loading="loading" @click="editProduct">确 定</el-button>
        </el-form>

        <el-form  label-width="100px" v-if="productRole===1" label-position="left" style="width: 80%;margin-left: 10%">
            <el-form-item label="描述" prop="productGeneralDescription">
                <el-input v-model="product.generalDescription"></el-input>
            </el-form-item>
            <el-form-item label="最低购买数量" prop="productGongyingMinNumber" >
                <el-input v-model="product.gongyingMinNumber"></el-input>
            </el-form-item>
            <el-form-item label="单价" prop="productGongyingPrice" >
                <el-input v-model="product.gongyingPrice"></el-input>
            </el-form-item>
            <el-button type="primary" :loading="loading" @click="editProduct">确 定</el-button>
        </el-form>
        </el-dialog>
    </div>

</template>

<script>
import {mapGetters} from 'vuex'
import {productDetail, editProduct} from '@api/api'

export default {
  name: 'EditProductInfo',
  data () {
    return {
      productId: '',
      productRole: '',
      product: '',
      dialogFormVisible: false
    }
  },
  computed: {
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  created () {
    // this.productId = this.$route.query.productId
    // this.productRole = this.$route.query.productRole
    // this.productDetail()
  },
  methods: {
    clickEdit (Id, Role) {
      this.productId = Id
      this.productRole = Role
      this.productDetail()
    },
    productDetail () {
      productDetail(this.productId).then(res => {
        this.product = res.data
        this.dialogFormVisible = true
      })
    },
    editProduct () {
      if (this.product.generalDescription === '') {
        this.$message('请输入商品描述')
        return
      }
      if (this.productRole === '3' && this.product.caigouDeadline === '') {
        this.$message('采购截至日期错误')
        return
      }
      if (this.productRole === '4' && (this.product.gongyingMinNumber === 0 ||
          this.gongyingMinNumber === null ||
          this.product.gongyingMinNumber === '')) {
        this.$message('供应最小数量错误')
        return
      }
      if (this.productRole === '4' && (this.product.gongyingPrice < 0 ||
            this.gongyingMinNumber === null ||
            this.product.gongyingMinNumber === '')) {
        this.$message('供应商品单价错误')
        return
      }
      console.log('this.product', this.product)
      editProduct(this.product).then(res => {
        this.$message(res.data)
        this.$router.go(0)
      })
    }
  }
}
</script>

<style scoped>

</style>
