<template>
    <div>
        <el-card class="crumbs-card">
            <div class="crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '/main/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item :to="{ path: '/main/my_product/ProductManage' }">我的商品</el-breadcrumb-item>
                    <el-breadcrumb-item :to="{ path: '/myPage//main/my_product/ProductAdd' }">商品添加</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
        </el-card>
        <el-card class="container">
            <div class="form">
                    <el-form ref="product" :rules="rules" :model="product" label-width="100px"
                    style="width: 100%;margin-left: 25%;" label-position="left">
                        <el-form-item label="所属种类" prop="catagoryId" >
                            <el-select v-model="product.generalProductCatagoryId"
                                       placeholder="选择种类" style="width: 40%">
                                <el-option v-for="item in catagorys"
                                           :key="item.id"
                                           :value="item.id"
                                           :label="item.catagoryName"
                                ></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="商品名" prop="productGeneralName">
                            <el-input style="width: 40%" v-model="product.generalName"></el-input>
                        </el-form-item>
                        <el-form-item label="描述" prop="productGeneralDescription">
                            <el-input style="width: 40%" v-model="product.generalDescription"></el-input>
                        </el-form-item>
                        <el-form-item label="图片" prop="productPicture" required="true">
                            <el-upload
                                    action="/api/product/pictureUpload"
                                    list-type="picture-card"
                                    :on-preview="handlePictureCardPreview"
                                    :on-success="handleAvatarSuccess"
                                    :on-remove="handleRemove">
                                <i class="el-icon-plus"></i>
                            </el-upload>
                            <el-dialog :visible.sync="imageVisible">
                            <img width="100%" :src="imageUrl" alt="">
                        </el-dialog>
                        </el-form-item>

                        <el-form-item label="商品数量" prop="productCaigouNumber" v-show="user.roleId===3">
                            <el-input style="width: 40%" v-model="product.caigouNumber"></el-input>
                        </el-form-item>
                        <el-form-item label="商品总价" prop="productcaigouTotalPrice" v-show="user.roleId===3">
                            <el-input style="width: 40%" v-model="product.caigouTotalPrice"></el-input>
                        </el-form-item>
                        <el-form-item label="评估方" prop="userPinggu" v-show="user.roleId===3" >
                            <el-select v-model="product.userPingguId"
                                       placeholder="选择与你沟通的评估方" style="width: 40%">
                                <el-option v-for="item in userPingGu"
                                           :key="item.id"
                                           :value="item.id"
                                           :label="item.userName"
                                ></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item v-show="user.roleId===3" required="true" label="截至日期">
                                <!--<span style="margin-left: -8%;" class="demonstration" prop="productCaigouDeadline">采购截至日期</span>-->
                                <el-date-picker
                                        v-model="product.caigouDeadline"
                                        type="datetime"
                                        placeholder="选择日期时间"
                                        prop="productCaigouDeadline"
                                        value-format="yyyy-MM-dd hh:mm:ss"
                                >
                                </el-date-picker>
                        </el-form-item>

                        <el-form-item label="最低购买数量" prop="productGongyingMinNumber" v-show="user.roleId===4">
                            <el-input style="width: 40%" v-model="product.gongyingMinNumber"></el-input>
                        </el-form-item>
                        <el-form-item label="商品单价" prop="productGongyingPrice" v-show="user.roleId===4">
                            <el-input style="width: 40%" v-model="product.gongyingPrice"></el-input>
                        </el-form-item>

                        <el-button type="primary" :loading="loading" @click="save" style="margin-left: 38%">确 定</el-button>
                    </el-form>
            </div>
        </el-card>
    </div>
</template>

<script>
import {getCatagoryList, removePictureOnOBS, getUserPingGuList, addProduct} from '@api/api' //
import { } from 'vue-quill-editor' // 调用编辑器  quillEditor
import {mapGetters} from 'vuex'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
export default {
  name: 'productAdd',
  data: function () {
    return {
      user: {
        id: '',
        roleId: ''
      },
      product: {
        generalProductCatagoryId: '',
        userPingguId: '',
        generalName: '',
        generalDescription: '',
        caigouNumber: '',
        caigouDeadline: '',
        caigouTotalPrice: '',

        gongyingMinNumber: '',
        gongyingPrice: '',

        picturepaths: []
      },
      catagorys: [],
      userPingGu: [],

      loading: false,
      // inputVisible: false,
      imageUrl: '',
      imageVisible: false,
      imgs: []

      // rules: {
      //   catagoryId: [
      //     { required: true, message: '选择商品种类', trigger: 'change' }
      //   ],
      //   productGeneralName: [
      //     { required: true, message: '请输入商品名称', trigger: 'blur' }
      //   ],
      //   productGeneralDescription: [
      //     { required: true, message: '请输入商品简介', trigger: 'blur' }
      //   ],
      //   productPicture: [
      //     { required: true, message: '请选择图片', trigger: 'blur' }
      //   ],
      //   productCaigouNumber: [
      //     { required: true, message: '请输入采购商品数量', trigger: 'blur' },
      //     {trigger: 'blur',
      //       validator: (rule, value, callback) => {
      //         var numberReg = /^([0-9])+/
      //         if (!numberReg.test(this)) {
      //           callback(new Error('请输入数字'))
      //         } else {
      //           callback()
      //         }
      //       }
      //     }
      //   ],
      //   productcaigouTotalPrice: [
      //     { required: true, message: '请输入采购商品数量', trigger: 'blur' },
      //     {trigger: 'blur',
      //       validator: (rule, value, callback) => {
      //         var numberReg = /^([0-9])+/
      //         if (!numberReg.test(this)) {
      //           callback(new Error('请输入数字'))
      //         } else {
      //           callback()
      //         }
      //       }
      //     }
      //   ],
      //   userPinggu: [
      //     {required: true, message: '请选择评估方', trigger: 'change'}
      //   ],
      //   productCaigouDeadline: [
      //     {type: 'date', required: true, message: '请选择截至日期', trigger: 'change'}
      //   ],
      //   productGongyingMinNumber: [
      //     {required: true, message: '请输入最少购买数', trigger: 'blur'},
      //     {trigger: 'blur',
      //       validator: (rule, value, callback) => {
      //         var numberReg = /^([0-9])+/
      //         if (!numberReg.test(this)) {
      //           callback(new Error('请输入数字'))
      //         } else {
      //           callback()
      //         }
      //       }
      //     }
      //   ],
      //   productGongyingPrice: [
      //     {required: true, message: '请输入单价', trigger: 'blur'},
      //     {trigger: 'blur',
      //       validator: (rule, value, callback) => {
      //         var numberReg = /^([0-9])+([.][0-9]{1,2})+/
      //         if (!numberReg.test(this)) {
      //           callback(new Error('请输入数字,小数点后最多两位'))
      //         } else {
      //           callback()
      //         }
      //       }
      //     }
      //   ]
      //
      // }
    }
  },
  components: {
    // quillEditor
  },
  created () {
    this.dataInit()
  },
  computed: {
    ...mapGetters({
      computedRoleId: 'user/getroleId',
      computedUserId: 'user/getUserId'
    })
  },
  methods: {
    getCatagoryList () {
      getCatagoryList({pageNo: 1, pageSize: -1}).then(res => {
        this.catagorys = res.data.records
      })
    },
    getUserPingGuList () {
      getUserPingGuList().then(res => {
        this.userPingGu = res.data
      })
    },
    dataInit () {
      this.getCatagoryList()
      this.user.id = this.computedUserId
      this.user.roleId = this.computedRoleId
      this.getUserPingGuList()
      console.log(this.user)
    },

    save () {
      this.product.picturepaths = this.imgs
      console.log(this.product)

      addProduct(this.product).then(res => {
        if (res.data === '操作成功') {
          this.$message({
            type: 'success',
            message: '添加成功'
          })
          this.$router.push({name: 'ProductManage'})
        } else {
          return false
        }
      })
    },
    handleAvatarSuccess (res, file) {
      this.imgs.push({pictureName: res.pictureName, productPicturePath: res.productPicturePath})
      console.log(this.imgs)
    },
    handlePictureCardPreview (file) {
      this.imageUrl = file.productPicturePath
      this.imageVisible = true
      console.log(this.imageUrl)
    },
    handleRemove (file, fileList) {
      // file.response.url
      this.imgs.forEach(x => {
        if (x.productPicturePath === file.response.productPicturePath) {
          console.log('x.productPicturePath')
          console.log(x.productPicturePath)
          this.imgs.splice(this.imgs.indexOf(x), 1)
          let path = x.productPicturePath
          removePictureOnOBS(path).then()
        }
      })
    }
    // handleClose (tag) {
    //   // splice(index,count)
    //   this.skus.splice(this.skus.indexOf(tag), 1)
    // },
    // showInput () {
    //   this.inputVisible = true
    //   this.$nextTick(_ => {
    //     this.$refs.saveTagInput.$refs.input.focus()
    //   })
    // },
    //
    // handleInputConfirm () {
    //   let inputValue = this.skuValue
    //   if (inputValue) {
    //     this.skus.push(inputValue)
    //   }
    //   this.inputVisible = false
    //   this.skuValue = ''
    // }
  }
}
</script>

<style scoped>
    .el-tag + .el-tag {
        margin-left: 10px;
    }
    .button-new-tag {
        margin-left: 10px;
        height: 32px;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .input-new-tag {
        width: 90px;
        margin-left: 10px;
        vertical-align: bottom;
    }
</style>
