<template>
        <div class="goods" id="goods" name="goods">
            <el-card class="crumbs-card">

                    <el-row  :gutter="20">
                        <el-col :span="12">
                            <div class="crumbs">
                            <!-- 面包屑 -->
                            <el-breadcrumb separator="/">
                                    <el-breadcrumb-item to="/">首页</el-breadcrumb-item>
                                    <el-breadcrumb-item>我的商品</el-breadcrumb-item>
                                    <el-breadcrumb-item v-if="search">搜索</el-breadcrumb-item>
                                    <el-breadcrumb-item v-else>分类</el-breadcrumb-item>
                                    <el-breadcrumb-item v-if="search">{{search}}</el-breadcrumb-item>
                                </el-breadcrumb>
                            </div>
                        </el-col>

                        <el-col :span="3" :offset="9">
                            <div class="crumbs-card-button">
                                <el-button type="primary" size="small" @click="productAdd">添加商品</el-button>
                            </div>
                        </el-col>
                    </el-row>

            </el-card>
            <!-- 面包屑END -->

            <sub-goods ref="CatagoryGoods" :method="method"></sub-goods>
        </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {getCatagoryList} from '@api/api'
import SubGoods from '../../components/my_product/SubGoods'

export default {
  name: 'ProductManage',
  components: {SubGoods},
  data: function () {
    return {
      catagorys: [],
      products: [],
      page: {
        pageNo: 1,
        pageSize: 10,
        totals: 0
      },
      method: 'ProductManage',
      categoryID: [] // 分类id, 某一个特定的分类id
    }
  },
  computed: {
    ...mapGetters({
      roleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  created () {
    // 获取分类列表
    this.getCategory()
    this.init()
  },
  methods: {
    // myProduct () {
    //   myProduct(this.page.pageNo, this.page.pageSize, this.categoryID)
    //     .then(res => {
    //       this.products = res.data.records
    //       console.log('父组件' + this.products)
    //     })
    // },

    // 如果子组件中选定了特定的种类，则要重新选定并且传回去
    init () {
      if (this.$route.query.categoryID !== undefined) {
        console.log('this.$route.query.categoryID')
        console.log(this.$route.query.categoryID)

        this.categoryID = this.$route.query.categoryID
        console.log('this.categoryID')
        console.log(this.categoryID)

        this.$refs.CatagoryGoods.categoryID = this.categoryID
      }
    },
    // 向后端请求分类列表数据
    getCategory () {
      getCatagoryList({pageNo: 1, pageSize: -1}).then(res => {
        this.catagorys = res.data.records
        this.$refs.CatagoryGoods.catagorys = this.catagorys
      })
    },
    productAdd: function () {
      this.$router.push({name: 'ProductAdd'})
      console.log(this.userId, this.roleId, this.catagorys)
    }

  }
}
</script>

<style scoped>
    .crumbs{
        padding-bottom: 1%;
    }
    .el-breadcrumb {
        font-size: 14px;
        line-height: 1;
        padding-top: 1.5%;

    }
    crumbs-card-button{
        padding-bottom: 1%;
        float: right;
    }
</style>
