<template>
    <div id="details">
        <!-- 头部 -->
        <div class="page-header">
            <div class="title">
                <p>{{product.generalName}}</p>
                <div class="list" v-if="userId!==product.userCaigouGongyingId">
                    <ul v-if="user!==null">
                        <li v-if="user!==null" style=" list-style: none;color: #ff6700; ">
                            <router-link :to="{name:'UserInfo',query:{toUserId:product.userCaigouGongyingId}}" style="color: #ff6700;">商家主页</router-link>
                        </li>
                        <li v-if="user!==null" style=" list-style: none;color: #ff6700; ">
                            <router-link :to="{name:'IM',query:{routerToId:product.userCaigouGongyingId ,routerCompanyName:user.companyName}}" style="color: #ff6700;">联系商家</router-link>
                        </li>
                    </ul>
                    <ul v-if="user===null" style=" list-style: none; ">
                        <li>
                            <router-link to="">用户已注销</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 头部END -->
    <!-- 主要内容 -->
    <div class="main">
        <!-- 左侧商品轮播图 -->
        <div class="block">
            <el-carousel height="450px"  v-if="pictureNumber!==1">
                <el-carousel-item v-for="item in product.picturepaths" :key="item.id">
                    <el-link :href="item.productPicturePath">
                        <img style="height:450px;width: 100%" :src="item.productPicturePath" :alt="product.generalDescription" />
                    </el-link>
                </el-carousel-item>
            </el-carousel>
            <div v-if="pictureNumber===1">
                <el-link :href="product.picturepaths[0].productPicturePath">
                    <img
                            style="height:450px;width:450px"
                            :src="product.picturepaths[0].productPicturePath"
                            :alt="product.picturepaths[0].pictureName"
                            :onerror="defaultImg"
                    />
                </el-link>
            </div>
        </div>
        <!-- 左侧商品轮播图END -->

        <!-- 右侧内容区 -->
        <div class="content" style="display: inline-grid;">
            <div style="display: inline-flex;">
                <p class="intro">商品名称:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <h1 class="name">{{product.generalName}}</h1>
            </div>
            <div style="display: inline-flex;">
                <p class="intro">商品种类:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p class="store">{{product.productCatagory}}</p>
            </div>
            <div style="display: inline-flex;">
                <p class="intro">商品描述:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p class="intro">{{product.generalDescription}}</p>
            </div>

            <div class="price">
                    <span   v-if="product.generalProductRole===0">
                        整体估价:&nbsp;&nbsp;&nbsp;{{product.caigouTotalPrice}}元</span>
                <div class="orderCountDown" v-if="product.generalProductRole===0"  >
                    {{timeCount}}
                </div>
                <span   v-if="product.generalProductRole===1">
                        商品单价:&nbsp;&nbsp;&nbsp;{{product.gongyingPrice}}元</span>
            </div>

            <!-- 内容区底部按钮 -->
            <div class="button">
                <!--<el-button class="shop-cart" :disabled="dis" @click="addShoppingCart">加入购物车</el-button>-->
                <el-button v-if="product.userCaigouGongyingId===userId && product.generalProductRole===0 && userRoleId===3 && product.caigouStatus===1" class="shop-cart" @click="getProductCaigouJingjia">查看竞价</el-button>
                <el-button v-if="product.userCaigouGongyingId===userId && product.generalProductRole===0 && userRoleId===3 && product.caigouStatus===0" class="like" >待审核，不能查看竞价</el-button>
                <el-button v-if="product.userCaigouGongyingId===userId && product.generalProductRole===0 && userRoleId===3 && product.caigouStatus===-1 && product.caigouConfirmState===1" class="like" >商品已过期</el-button>
                <el-button v-if="product.userCaigouGongyingId===userId && product.generalProductRole===0 && userRoleId===3 && product.caigouStatus===-1 && product.caigouConfirmState===0" class="like" >商品已过期未审核</el-button>
                <el-button v-if="product.userCaigouGongyingId===userId && product.generalProductRole===0 && userRoleId===3 && product.caigouStatus===-1 && product.caigouConfirmState===-1" class="like" >估价未通过审核</el-button>

                <el-button v-if="product.generalProductRole===0 && userRoleId===4 && product.caigouStatus===-1 && product.caigouConfirmState===1" class="like" >商品已过期，不能竞价</el-button>
                <el-button v-if="product.generalProductRole===0 && userRoleId===4 && product.caigouStatus===-1 && product.caigouConfirmState===0" class="like" >商品已过期未审核</el-button>
                <el-button v-if="product.generalProductRole===0 && userRoleId===4 && product.caigouStatus===-1 && product.caigouConfirmState===-1" class="like" >商品估价无效</el-button>
                <el-button v-if="product.generalProductRole===0 && userRoleId===4 && product.caigouStatus===1 " class="shop-cart" @click="doJingjia">我要竞价</el-button>
                <el-button v-if="product.generalProductRole===0 && userRoleId===4 && product.caigouStatus===0" class="like" >待审核，不能竞价</el-button>

                <el-button v-if="product.generalProductRole===0 && userRoleId===2 && product.caigouConfirmState===-1" class="like" >已驳回估价</el-button>
                <el-button v-if="product.generalProductRole===0 && userRoleId===2 && product.caigouConfirmState===0" class="shop-cart" @click="confirmWaitedProduct">确认估价</el-button>
                <el-button v-if="product.generalProductRole===0 && userRoleId===2 && product.caigouConfirmState===0" class="shop-cart" @click="dialogrejectWaitedProduct=true">驳回估价</el-button>
                <el-button v-if="product.generalProductRole===0 && userRoleId===2 && product.caigouConfirmState===1" class="like">已确认估价</el-button>

                <el-button v-if="product.generalProductRole===1 && userRoleId===3 " class="shop-cart" @click="dialogXiadanVisible=true">下单</el-button>
                <el-button v-if="product.userCaigouGongyingId===userId && userRoleId===4 " class="like" @click="toEdit">修改商品信息</el-button>
                <el-button v-if="product.userCaigouGongyingId===userId && userRoleId===3 && product.caigouStatus===0 " class="like" @click="toEdit">修改商品信息</el-button>

            </div>
            <!-- 内容区底部按钮END -->
            <div class="pro-policy">
                <ul>
                    <li>
                        <i class="el-icon-circle-check"></i> 机加工零件交易平台
                    </li>
                    <li>
                        <i class="el-icon-circle-check"></i> 专员评估
                    </li>
                    <li>
                        <i class="el-icon-circle-check"></i> 财产保护
                    </li>
                    <li>
                        <i class="el-icon-circle-check"></i> 放心之选
                    </li>
                </ul>
            </div>

        </div>
        <!-- 右侧内容区END -->
    </div>
    <!-- 主要内容END -->

        <!--采购方再供应方商品详情界面进行下单操作-->
        <el-dialog title="下单" :visible.sync="dialogXiadanVisible">
            <el-form :model="form">
                <el-form-item label="商品数量" :label-width="150">
                    <el-input-number v-model="form.productNumber" :step="100" :min="product.gongyingMinNumber"></el-input-number>
                </el-form-item>
                <el-form-item label="上传合同" :label-width="150">
                    <el-upload
                            class="upload-demo"
                            action="/api/orders/uploadContact"
                            :on-remove="acceptOrderRemove"
                            :before-remove="acceptOrderBeforeRemove"
                            :on-success="acceptOrderAvatarSuccess">
                        <el-button size="small" type="primary">点击上传</el-button>
                        <div slot="tip" class="el-upload__tip">只能上传jpg</div>
                    </el-upload>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogXiadanVisible = false">取 消</el-button>
                <el-button type="primary" @click="acceptOrders">确 定</el-button>
            </div>
        </el-dialog>

        <!--供应方在采购方商品详情界面进行 竞价操作-->
        <el-dialog title="竞价" :visible.sync="dialogJingjia" style="width: 80%">
            <el-form :model="form">
                <el-form-item label="历史竞价" v-if="form.myJingjiaHistory.length!==0">
                    <el-input readonly v-model="form.myJingjiaHistory"></el-input>
                </el-form-item>

                <el-form-item label="此次竞价">
                    <el-input  v-model="form.amount"></el-input>
                </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogUserGongyingDetail = false">取 消</el-button>
                <el-button type="primary" @click="insertJingjia">确 定</el-button>
            </div>
        </el-dialog>

        <!--评估方拒绝估价-->
        <el-dialog title="驳回估价" :visible.sync="dialogrejectWaitedProduct">
            <el-form :model="description">
                <el-form-item label="拒绝理由" label-width="80px">
                    <el-input v-model="description" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="rejectWaitedProduct">确 定</el-button>
            </div>
        </el-dialog>

        <!--修改商品信息-->
        <edit-product-info ref="editProduct"></edit-product-info>
    </div>
</template>

<script>
import {productDetail, confirmWaitedProduct, acceptOrders, aliPay,
  removePictureOnOBS, insertJingjia, getMyJingjiaHistory, productSeller, rejectWaitedProduct} from '@api/api'
import {mapGetters} from 'vuex'
import EditProductInfo from './EditProductInfo'

export default {
  name: 'ProductDetail',
  components: {EditProductInfo},
  data () {
    return {

      defaultImg: 'this.src="' + require('../../../../assets/images/pdf.png') + '"',
      timeCount: '',

      page: {
        pageNo: 1,
        pageSize: 10
      },
      user: {
        id: ''
      },
      product: '',
      productId: '',
      jingjias: [],
      description: '',
      returnMessage: '',
      dialogXiadanVisible: false,
      dialogUserGongyingDetail: false,
      dialogJingjia: false,
      form: {
        productNumber: 0,
        generalContact: [],
        myJingjiaHistory: [],
        amount: ''
      },
      ordersId: 0,
      dialogrejectWaitedProduct: false,
      caigouddl: '',
      pictureNumber: 0
    }
  },
  computed: {
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  created () {
    this.productId = this.$route.query.productId

    this.productDetail()
    console.log('this.form.generalContact')
    console.log(this.form.generalContact)
  },
  watch: {
    ordersId: 'aliPay'
  },

  methods: {

    //
    inittime () {
      var timer = setInterval(() => {
        console.log('开始倒计时')
        var offset = Math.floor((Date.parse(this.product.caigouDeadline) - Date.now()) / 1000)
        if (offset <= 0) {
          clearInterval(timer)
        }
        var secLeft = offset % 60
        var minLeft = Math.floor(offset / 60) % 60
        var hourLeft = Math.floor(offset / 60 / 60) % 24
        var day = Math.floor(offset / 60 / 60 / 24)

        // 补0操作
        secLeft = (secLeft < 10 ? '0' : '') + secLeft
        minLeft = (minLeft < 10 ? '0' : '') + minLeft
        hourLeft = (hourLeft < 10 ? '0' : '') + hourLeft

        // 4）拼接时间格式，写入timehtml
        this.timeCount = day + '天' + hourLeft + ':' + minLeft + ':' + secLeft
        if (offset % 60 < 0) {
          this.timeCount = ''
        }
      }, 1000)
    },
    // 显示修改内容
    toEdit () {
      this.$refs.editProduct.clickEdit(this.product.id, this.product.generalProductRole)
      // this.$router.push({name: 'EditProductInfo', query: {productId: this.product.id, productRole: this.product.generalProductRole}})
    },
    // 商品详情
    productDetail () {
      productDetail(this.productId).then(res => {
        this.product = res.data

        if (this.product.generalProductRole === 0) {
          this.inittime()
        }

        this.form.productNumber = this.product.gongyingMinNumber
        console.log('product.picturepaths的路径')
        console.log(this.product.picturepaths)
        this.caigouddl = this.product.caigouDeadline
        this.caigouddl = this.caigouddl.replace('T', ' ')
        this.caigouddl = this.caigouddl.replace('Z', ' ')
        this.caigouddl = this.caigouddl.replace('.000', ' ')
        this.pictureNumber = this.product.picturepaths.length
        console.log(this.pictureNumber)
      })
    },
    // 获得商品主人的相关信息
    productSeller () {
      productSeller(this.productId).then(res => {
        this.user = res.data
        console.log(this.user)
        console.log('this.user')
      })
    },
    /**
       * 评估方
       * */
    // 评估方确认竞价
    confirmWaitedProduct () {
      this.description = ':)'
      let productId = this.product.id
      confirmWaitedProduct(productId, this.description)
        .then(res => {
          this.$message(res.data)
          this.$router.push({name: 'GetWaitedProduct'})
        })
    },

    rejectWaitedProduct () {
      let productId = this.product.id
      rejectWaitedProduct(productId, this.description)
        .then(res => {
          this.$message(res.data)

          this.$router.push({name: 'GetWaitedProduct'})
        })
      this.dialogrejectWaitedProduct = false
    },

    /**
       * 采购方
       * */
    // 采购方查看竞价
    getProductCaigouJingjia () {
      this.$router.push({name: 'CaigouGetJingjia',
        query: {jingjias: this.jingjias,
          userRoleId: this.userRoleId,
          userId: this.userId,
          productId: this.product.id}})
    },

    // 采购方进行下单
    acceptOrders () {
      this.dialogXiadanVisible = false
      acceptOrders(this.productId, this.form.productNumber,
        this.form.generalContact[0].ordersId, this.form.generalContact[0].path).then(res => {
        this.ordersId = this.form.generalContact[0].ordersId
        console.log('this.ordersId')
        console.log(this.ordersId)
      })
    },

    // 采购方进行支付
    aliPay () {
      aliPay(this.form.generalContact[0].ordersId).then(res => {
        console.log('apliPay.res')
        console.log(res)

        const divForm = document.getElementsByTagName('div')
        if (divForm.length) {
          document.body.removeChild(divForm[0])
        }

        const div = document.createElement('div')
        div.innerHTML = res // res.data-form
        document.body.appendChild(div)
        document.forms[0].setAttribute('target', '_blank') // 加了_blank可能出问题所以我注释了
        document.forms[0].submit()
        console.log(document)
        this.$router.go(0)
      })
    },

    // 下单时对于合同的操作
    acceptOrderAvatarSuccess (res, file) {
      this.form.generalContact.push({ordersId: res.ordersId, path: res.path})
      console.log('this.form.generalContact')
      console.log(this.form.generalContact)
    },
    acceptOrderRemove (file, fileList) {
      // file.response.url
      this.form.generalContact.forEach(x => {
        if (x.productPicturePath === file.response.productPicturePath) {
          this.form.generalContact.splice(this.form.generalContact.indexOf(x), 1)
          removePictureOnOBS(x.productPicturePath).then()
        }
      })
    },
    acceptOrderBeforeRemove (file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`)
    },

    /**
       * 供应方
       * */
    doJingjia () {
      this.getMyJingjiaHistory()
      this.dialogJingjia = true
    },
    // 供应方竞价历史
    getMyJingjiaHistory () {
      getMyJingjiaHistory(this.productId).then(res => {
        this.form.myJingjiaHistory = res.data
      })
    },
    // 供应方进行竞价
    insertJingjia () {
      this.dialogJingjia = false
      insertJingjia(this.productId, this.form.amount).then(res => {
        this.$message(res.data)
      })
    }
  }
}
</script>

<style>
    /* 头部CSS */
    #details .page-header {
        height: 64px;
        margin-top: -20px;
        z-index: 4;
        background: #fff;
        border-bottom: 1px solid #e0e0e0;
        -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
    }
    #details .page-header .title {
        width: 1225px;
        height: 64px;
        line-height: 64px;
        font-size: 18px;
        font-weight: 400;
        color: #212121;
        margin: 0 auto;
    }
    #details .page-header .title p {
        padding-left: 2%;
        float: left;
    }
    #details .page-header .title .list {
        padding-right: 3%;
        height: 64px;
        float: right;
    }
    #details .page-header .title .list li {
        float: left;
        margin-left: 20px;
    }
    #details .page-header .title .list li a {
        font-size: 14px;
        color: #616161;
    }
    #details .page-header .title .list li a:hover {
        font-size: 14px;
        color: #ff6700;
    }
    /* 头部CSS END */

    /* 主要内容CSS */
    #details .main {
        width: 1225px;
        height: 560px;
        padding-top: 30px;
        margin: 0 auto;
    }
    #details .main .block {
        margin-left: -3%;
        float: left;
        width: 450px;
        height: 450px;

    }
    #details .el-carousel .el-carousel__indicator .el-carousel__button {
        background-color: rgba(163, 163, 163, 0.8);
    }
    #details .main .content {
        float: right;
        margin-left: 25px;
        width: 650px;
        background-color: rgb(244, 244, 244);
    }
    #details .main .content .name {
        height: 30px;
        line-height: 30px;
        font-size: 24px;
        font-weight: normal;
        color: #212121;
    }
    #details .main .content .intro {
        color: #b0b0b0;
        padding-top: 10px;
    }
    #details .main .content .store {
        color: #ff6700;
        padding-top: 10px;
    }
    #details .main .content .price {
        display: block;
        font-size: 18px;
        color: #ff6700;
        border-bottom: 1px solid #e0e0e0;
        padding: 25px 0 25px;
    }
    #details .main .content .price .del {
        font-size: 14px;
        margin-left: 10px;
        color: #b0b0b0;
        text-decoration: line-through;
    }
    #details .main .content .pro-list {
        background: #f9f9fa;
        padding: 30px 60px;
        margin: 50px 0 50px;
    }
    #details .main .content .pro-list span {
        line-height: 30px;
        color: #616161;
    }
    #details .main .content .pro-list .pro-price {
        float: right;
    }
    #details .main .content .pro-list .pro-price .pro-del {
        margin-left: 10px;
        text-decoration: line-through;
    }
    #details .main .content .pro-list .price-sum {
        color: #ff6700;
        font-size: 24px;
        padding-top: 20px;
    }
    #details .main .content .button {
        height: 55px;
        margin: 10px 0 20px 0;
    }
    #details .main .content .button .el-button {
        float: left;
        height: 55px;
        font-size: 16px;
        color: #fff;
        border: none;
        text-align: center;
    }
    #details .main .content .button .shop-cart {
        width: 180px;
        background-color: #ff6700;
    }
    #details .main .content .button .shop-cart:hover {
        background-color: #f25807;
    }

    #details .main .content .button .like {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 180px;
        margin-left: 40px;
        background-color: #b0b0b0;
    }
    #details .main .content .button .like:hover {
        background-color: #757575;
    }
    #details .main .content .pro-policy li {
        float: left;
        margin-right: 20px;
        color: #b0b0b0;
    }
    #details .main .content .price .orderCountDown{
        display: inline-block;
        width: 20%;
        vertical-align: middle;
        margin-left: 30%;
        /*background-color: #ff6874;*/
        color: #ff6874;
        /*float: right;*/
    }
    .router-link-active {
        text-decoration: none;
    }
    /* 主要内容CSS END */
    .daishenheBunengchakanjingjia {
    }
</style>
