<template>
<div>
    <el-dialog
            title="用户详情"
            :visible.sync="dialogVisible"
            width="40%">

        <el-form  label-width="100px">
            <el-form-item label="user.id" v-if="false">
                <el-input  v-if="false" v-model="user.id"></el-input>
            </el-form-item>
            <el-form-item label="admin_id" v-if="false">
                <el-input  v-if="false" v-model="shenhe.adminId"></el-input>
            </el-form-item>
            <el-form-item label="公司营业执照">
                <el-link :href="user.companyLiscense">
                    <el-button @click="my_downloadFile()" type="text" size="small">点击下载营业执照,进行信息比对</el-button>
                </el-link>
            </el-form-item>
            <el-form-item label="社会统一代码">
                <el-input readonly v-model="user.societyCode"></el-input>
            </el-form-item>
            <el-form-item label="公司名称">
                <el-input readonly v-model="user.companyName"></el-input>
            </el-form-item>
            <el-form-item label="公司简介">
                <el-input type="textarea" readonly v-model="user.companyDescription"></el-input>
            </el-form-item>
            <el-form-item label="公司主营方向">
                <el-input readonly v-model="interests"></el-input>
            </el-form-item>
            <el-form-item label="用户名">
                <el-input readonly v-model="user.userName"></el-input>
            </el-form-item>

            <el-form-item label="审核结果">
                <el-radio-group v-model="shenhe.shenheResult">
                    <el-radio :label="0">不通过</el-radio>
                    <el-radio :label="1">通过</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="审核意见">
                <el-input type="textarea" v-model="shenhe.description"></el-input>
            </el-form-item>

        </el-form>

        <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="submmitCheckResult()">提交审核</el-button>
            </span>
    </el-dialog>
    <opereation-success ref="operationSuccess" @okk="afterSubmit"/>
</div>
</template>

<script>
import {rejectRegistUser, makeUserLoginable} from '@api/api' // , downloadFileFromOBS
import OpereationSuccess from './OpereationSuccess'
export default {
  name: 'DialogShenheUser',
  components: {OpereationSuccess},
  data: function () {
    return {
      shenhe: {
        userId: 0,
        adminId: 0,
        description: '',
        shenheResult: 0,
        shenheCatagory: 0
      },
      dialogVisible: false,
      operation: 0,

      interests: [],
      companyLiscense: '',
      user: {
        id: 0,
        userName: '',
        societyCode: '',
        companyName: '',
        companyDescription: '',
        companyAddress: '',
        userInterests: []
      }
    }
  },
  created: {

  },
  methods: {

    // 点击 进行审核 弹出弹窗 使用表单信息对用户的信息进行展示，并且可以下载用户的营业执照
    // 并且要选择审核是否通过，提交审核意见
    // 然后可以点击确定， 点击确定提交审核，进行提交
    checkDetails: function (tempUser) {
      console.log(tempUser.userName)
      this.user = tempUser
      this.interests = this.user.userInterests
      this.shenhe.userId = this.user.id
      this.shenhe.shenheCatagory = 3
      this.dialogVisible = true
    },
    // 管理员提交审核
    submmitCheckResult: function () {
      if (this.shenhe.shenheResult === 1) {
        makeUserLoginable(this.user.id).then(res => { this.operation = 1 })
      } else {
        rejectRegistUser(this.user.id, this.shenhe.description).then(res => { this.operation = 1 })
      }
      this.dialogVisible = false
      this.$refs.operationSuccess.dialogVisible = true
    },

    afterSubmit: function () {
      this.$emit('ok')
    }
    // my_downloadFile: function () {
    //   downloadFileFromOBS(this.companyLiscense).then()
    // }
  }
}

</script>

<style scoped>

</style>
