<template>
    <el-dialog
            title="提示"
            :visible.sync="dialogVisible"
            width="30%">
        <span>操作成功</span>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="Queren">确 定</el-button>
  </span>
    </el-dialog>

</template>

<script>
export default {
  name: 'OpereationSuccess',
  data: function () {
    return {
      dialogVisible: false
    }
  },
  methods: {
    Queren: function () {
      this.dialogVisible = false
      this.$emit('okk')
    }
  }
}
</script>

<style scoped>

</style>
