<template>
    <div class="goods" id="goods" name="goods">
        <!-- 主要内容区 -->
        <div class="main">
                <div class="search">
                    <el-form :inline="true" :model="searchCondition" size="mini" style="width:80%">
                        <el-form-item label="media title：" label-width="">
                            <el-input placeholder="input" v-model="searchCondition.mediaTitle" clearable>
                            </el-input>
                        </el-form-item>

                        <el-form-item label="media ID：" label-width="">
                            <el-input placeholder="input" v-model="searchCondition.mediaID" clearable>
                            </el-input>
                        </el-form-item>

                        <el-form-item label="publisher ID：" label-width="">
                            <el-input placeholder="input" v-model="searchCondition.publisherID" clearable>
                            </el-input>
                        </el-form-item>

                        <el-form-item label="check state：">
                            <el-select v-model="searchCondition.checkState" placeholder="">
                                <el-option label="unchecked" value=0></el-option>
                                <el-option label="checked" value=1></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="check result：">
                            <el-select v-model="searchCondition.checkResult" placeholder="">
                                <el-option label="invalid" value=0></el-option>
                                <el-option label="valid" value=1></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" icon="el-icon-search" size="mini" @click="submitSearch"></el-button>
                        </el-form-item>
                    </el-form>
                </div>

                <!-- 展示概要 -->
            <div class="list">
                <MediaList :list="medias" :userId="userId" v-if="medias.length>0"></MediaList>
                <div v-else class="none-product">
                    <img style="margin-left: 20px" src="@assets/images/NoneProduct.png">
                </div>
            </div>
                <!-- 展示概要over -->

            <!-- 分页 -->
            <div class="pagination">
                <el-pagination @size-change="pageSizeChange" @current-change="pageNoChange" :current-page="page.pageNo"
                    :page-sizes="[8, 12, 16]" :page-size="page.pageSize" layout="total, sizes, prev, pager, next, jumper"
                    :total="page.totals">
                </el-pagination>
            </div>
            <!-- 分页END -->
    </div>
    </div>
</template>

<script>
import {getContentByTypeId} from '@api/api'
import MediaList from './MediaList'
// import { mapGetters } from 'vuex'

export default {
  name: 'ContentList',
  components: { MediaList },
  props: ['typeId'],
  computed: {
    userRoleId: 'user/getroleId',
    userId: 'user/getUserId'
  },
  data () {
    return {
      medias: [],
      media: {
        id: '',
        userName: '',
        userId: '',
        createTime: '',
        fromResource: '',
        checkResult: 0,
        labelFromModel: '',
        url: '', // complete file
        frameUrl: '', // if the file is a vedio, the frameUrl to show the vedio, if the file is a picture just the same as the url
        typeId: 1,
        mediaTitle: ''
      },
      searchCondition: {
        mediaTitle: '',
        publisherID: '',
        mediaID: '',
        checkState: '', // pay attention
        checkResult: '' // pay attention
      },
      page: {
        pageNo: 0,
        pageSize: 8,
        totals: 100
      }
    }
  },
  created () {
    this.getContentByTypeId()
  },
  methods: {
    getContentByTypeId () {
      getContentByTypeId(this.typeId).then(res => {
        this.medias = res.data
        console.log('ContentList:medias', this.medias)
        console.log(this.medias.length)
      })
    },
    submitSearch () {
      // this.typeId, this.searchCondition
      console.log('searchCondition', this.searchCondition)
    },
    // 返回顶部
    backtop () {
      const timer = setInterval(function () {
        const top = document.documentElement.scrollTop || document.body.scrollTop
        const speed = Math.floor(-top / 5)
        document.documentElement.scrollTop = document.body.scrollTop =
                  top + speed

        if (top === 0) {
          clearInterval(timer)
        }
      }, 20)
    },
    // 页码变化调用currentChange方法
    pageNoChange (currentPage) {
      this.page.pageNo = currentPage
      //   this.getUserAllProduct()

      this.backtop()
    },
    // 页码变化调用currentChange方法
    pageSizeChange (pageSize) {
      this.page.pageSize = pageSize
      //   this.getUserAllProduct()

      this.backtop()
    }
  }
}
</script>

<style scoped>
.goods {
    background-color: #f5f5f5;
}

/* 分类标签CSS */
.goods .nav {
    background-color: white;
}

.goods .nav .product-nav {
    width: 1225px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}

.nav .product-nav .title {
    padding-left: 1.5%;
    width: 50px;
    font-size: 16px;
    font-weight: 700;
    float: left;
}

/* 分类标签CSS END */

/* 主要内容区CSS */
.goods .main {
    margin: 0 auto;
    max-width: 1225px;
}

.goods .main .list {
    min-height: 650px;
    padding-top: 14.5px;
    margin-left: -13.7px;
    padding-left: 6%;
    overflow: auto;
}

.goods .main .pagination {
    height: 50px;
    text-align: center;
}

.goods .main .none-product {
    color: #333;
    margin-left: 13.7px;
}

/* 主要内容区CSS END */
</style>
