<template>
    <div>
        <el-card class="crumbs-card">
            <div class="crumbs">
                <!-- 面包屑 -->
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '/main' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item to="">所有用户</el-breadcrumb-item>

                </el-breadcrumb>
            </div>
        </el-card>
        <el-card class="container">
            <el-table
                    :data="shenhes"
                    style="width: 100%">

                <el-table-column
                        prop="admin.userName"
                        label="管理员"
                >
                </el-table-column>

                <el-table-column
                        prop="user.userName"
                        label="采供方名称"
                >
                </el-table-column>

                <el-table-column
                        prop="createTime"
                        label="审核时间"
                >
                </el-table-column>

                <el-table-column
                        prop="result"
                        label="审核结果"
                >
                </el-table-column>
            </el-table>

            <el-pagination
                    @size-change="pageSizeChange"
                    @current-change="pageNoChange"
                    :current-page="page.pageNo"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="page.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="page.totals">
            </el-pagination>
        </el-card>

    </div>

</template>

<script>
import {getAllUserShenhe} from '@api/api'
export default {
  name: 'GetAllUserShenhe',
  data () {
    return {
      page: {
        pageNo: 1,
        pageSize: 5
      },
      shenhes: {
        admin: {

        },
        user: {

        },
        ordersVO: {

        },
        productVO: {

        }
      }
    }
  },
  created () {
    this.getAllUserShenhe()
  },
  methods: {
    getAllUserShenhe () {
      getAllUserShenhe(this.page).then(res => {
        this.shenhes = res.data.records
      })
    },
    pageSizeChange: function (pageSize) {
      this.page.pageSize = pageSize
      this.getAllUserShenhe()
    },
    pageNoChange: function (pageNo) {
      this.page.pageNo = pageNo
      this.getAllUserShenhe()
    }
  }
}
</script>

<style scoped>

</style>
