<template>
    <div>
        <el-card class="crumbs-card">
            <div class="crumbs">
                <el-row  :gutter="10">
                    <el-col :span="12">
                        <!-- 面包屑 -->
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item :to="{ path: '/main' }">首页</el-breadcrumb-item>
                            <el-breadcrumb-item to="">所有用户</el-breadcrumb-item>

                        </el-breadcrumb>
                    </el-col>

                    <el-col :span="3" :offset="3">
                        <el-button type="primary" size="mini" icon="el-icon-download" @click="exportUser">导出所有</el-button>
                    </el-col>
                    <el-col :span="3">
                        <el-button type="primary" size="mini" @click="dialogAddManagerVisible=true">添加管理员</el-button>
                    </el-col>
                    <el-col :span="3" >
                        <el-button type="primary" size="mini" @click="dialogAddUserPinggu=true">添加评估方</el-button>
                    </el-col>
                </el-row>
            </div>
        </el-card>
        <el-card class="container">
            <el-table
                    ref="filterTable"
                    :data="users"
                    style="width: 100%"
            stripe
            border>
                <el-table-column v-if="false"
                                 prop="id"
                                 label="ID"
                                 width="0">
                </el-table-column>

                <el-table-column
                        prop="societyCode"
                        label="社会统一代码"
                >
                </el-table-column>

                <el-table-column
                        prop="companyName"
                        label="公司名称"
                >
                </el-table-column>

                <el-table-column
                        prop="companyAddress"
                        label="公司地址"
                        :filters="[{ text: '采购方', value: '采购方' }, { text: '供应方', value: '供应方' }]"
                        :filter-method="filterTag"
                        filter-placement="bottom-end">
                    <template slot-scope="scope">
                        {{scope.row.addressName}}
                    </template>
                </el-table-column>

                <el-table-column
                        prop="userName"
                        label="用户名"
                >
                </el-table-column>

                <el-table-column
                        prop="email"
                        label="邮箱"
                >
                </el-table-column>
                <el-table-column
                        prop="userType"
                        label="用户类型"
                        :filters="[{ text: '采购方', value: '采购方' },
                                    { text: '供应方', value: '供应方' },
                                    { text: '评估方', value: '评估方' },
                                    { text: '管理员', value: '管理员' },
                                    { text: '超管', value: '超管' }]"
                        :filter-method="filterTag"
                        filter-placement="bottom-end">
                    <template slot-scope="scope">
                        <el-tag v-if="scope.row.roleId === '3'"
                                :type="'primary'" disable-transitions>{{scope.row.userType}}</el-tag>
                        <el-tag v-if="scope.row.roleId === '4'"
                                :type="'success'" disable-transitions>{{scope.row.userType}}</el-tag>
                        <el-tag v-if="scope.row.roleId === '0' || scope.row.roleId === '1' || scope.row.roleId === '2'"
                                :type="'info'" disable-transitions>{{scope.row.userType}}</el-tag>
                    </template>
                </el-table-column>

                <el-table-column
                        fixed="right"
                        label="操作"
                        width="200">
                    <template slot-scope="scope">
                        <el-button v-if="scope.row.roleId==='3' || scope.row.roleId==='4'" @click="operation(scope.row)" type="text" size="small">查看详情</el-button>
                        <el-button v-if="scope.row.roleId!=='3' && scope.row.roleId!=='4'" @click="operation(scope.row)" type="text" size="small">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-pagination
                    @size-change="pageSizeChange"
                    @current-change="pageNoChange"
                    :current-page="page.pageNo"
                    :page-sizes="[5, 10, 15, 20]"
                    :page-size="page.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="page.totals">
            </el-pagination>
        </el-card>
        <el-dialog
                title="评估方添加"
                :visible.sync="dialogAddUserPinggu"
                width="40%">

            <el-form  label-width="100px" :model="userAdd">
                <el-form-item label="userAdd.roleId" v-if="false">
                    <el-input  v-if="false" v-model="userAdd.roleId"></el-input>
                </el-form-item>

                <el-form-item label="用户名">
                    <el-input  v-model="userAdd.userName"></el-input>
                </el-form-item>
                <el-form-item label="用户邮箱">
                    <el-input  v-model="userAdd.email"></el-input>
                </el-form-item>

            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogAddUserPinggu = false">取 消</el-button>
                <el-button type="primary" @click="addUserPingguAndManager()">提交审核</el-button>
            </span>
        </el-dialog>
        <el-dialog
                title="管理员添加"
                :visible.sync="dialogAddManagerVisible"
                width="40%">

            <el-form  label-width="100px" :model="userAdd">
                <el-form-item label="userAdd.roleId" v-if="false">
                    <el-input  v-if="false" v-model="userAdd.roleId"></el-input>
                </el-form-item>

                <el-form-item label="用户名">
                    <el-input  v-model="userAdd.userName"></el-input>
                </el-form-item>
                <el-form-item label="用户邮箱">
                    <el-input  v-model="userAdd.email"></el-input>
                </el-form-item>

            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogAddManagerVisible = false">取 消</el-button>
                <el-button type="primary" @click="addUserPingguAndManager()">提交审核</el-button>
            </span>
        </el-dialog>
        <el-dialog
                title="用户详情"
                :visible.sync="dialogDetailsVisible"
                width="40%">

            <el-form  label-width="100px">
                <el-form-item label="userDetail.id" v-if="false">
                    <el-input  v-if="false" v-model="userDetail.id"></el-input>
                </el-form-item>
                <el-form-item label="公司营业执照">
                    <el-link :href="userDetail.companyLiscense">
                        <el-button @click="my_downloadFile()" type="text" size="small">点击下载营业执照,进行信息比对</el-button>
                    </el-link>
                </el-form-item>
                <el-form-item label="社会统一代码">
                    <el-input readonly v-model="userDetail.societyCode"></el-input>
                </el-form-item>
                <el-form-item label="公司名称">
                    <el-input readonly v-model="userDetail.companyName"></el-input>
                </el-form-item>
                <el-form-item label="公司简介">
                    <el-input type="textarea" readonly v-model="userDetail.companyDescription"></el-input>
                </el-form-item>
                <el-form-item label="公司主营方向">
                    <el-input readonly v-model="userDetail.userInterests"></el-input>
                </el-form-item>
                <el-form-item label="用户名">
                    <el-input readonly v-model="userDetail.userName"></el-input>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>
</template>

<script>
import {addUserPingguAndManager, removeUserPinggu, getAllUser, exportUser} from '@api/api'
export default {
  name: 'GetAllUser',
  data () {
    return {
      page: {
        pageNo: 1,
        pageSize: 5,
        totals: 0
      },
      users: [],
      userDetail: {
        id: '',
        userName: '',
        email: '',
        passWord: ''
      },
      userAdd: {
        id: '',
        userName: '',
        email: '',
        passWord: '',
        roleId: ''
      },
      dialogAddUserPinggu: false,
      dialogDetailsVisible: false,
      dialogAddManagerVisible: false
    }
  },
  created () {
    this.getAllUser()
  },
  watch: {
  },
  methods: {
    operation (tempUser) {
      if (tempUser.roleId === '1' || tempUser.roleId === '2') {
        removeUserPinggu(tempUser.id).then(res => {
          this.getAllUser()
        })
      } else {
        this.userDetail = tempUser
        this.dialogDetailsVisible = true
      }
    },
    getAllUser () {
      getAllUser(this.page).then(res => {
        this.users = res.data.records
        this.page.totals = res.data.total
      })
    },
    addUserPingguAndManager () {
      if (this.dialogAddUserPinggu === true) { this.userAdd.roleId = 2 }
      if (this.dialogAddManagerVisible === true) { this.userAdd.roleId = 1 }
      this.dialogAddUserPinggu = false
      this.dialogAddManagerVisible = false

      this.userAdd.passWord = this.userAdd.email
      console.log('this.userAdd')
      console.log(this.userAdd)
      addUserPingguAndManager(this.userAdd).then(res => {
        this.userAdd.id = 0
        this.userAdd.passWord = ''
        this.userAdd.email = ''
        this.userAdd.userName = ''
        this.$router.go(0)
      })
    },
    // 导出
    exportUser () {
      exportUser().then(res => {
        let url = window.URL.createObjectURL(new Blob([res]))
        let link = document.createElement('a')
        link.style.display = 'none'
        link.href = url
        link.setAttribute('download', '人员列表.xls')
        document.body.appendChild(link)
        link.click()
      })
    },
    // 杂七杂八
    pageSizeChange: function (pageSize) {
      this.page.pageSize = pageSize
      this.getAllUser()
    },
    pageNoChange: function (pageNo) {
      this.page.pageNo = pageNo
      this.getAllUser()
    },
    // filter
    resetDateFilter () {
      this.$refs.filterTable.clearFilter('date')
    },
    clearFilter () {
      this.$refs.filterTable.clearFilter()
    },
    formatter (row, column) {
      return row.address
    },
    filterTag (value, row) {
      return row.userType === value
    },
    filterHandler (value, row, column) {
      const property = column['property']
      return row[property] === value
    }
  }
}
</script>

<style scoped>

</style>
