<template>
    <div>
        <el-card class="crumbs-card">
            <div class="crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item >审核</el-breadcrumb-item>
                    <el-breadcrumb-item :to="{ path: '/main/first' }">审核新用户</el-breadcrumb-item>

                </el-breadcrumb>
            </div>
        </el-card>
        <el-card class="container">
            <el-table
                    ref="filterTable"
                    :data="users"
                    stripe
                    border
                    style="width: 100%">
                <el-table-column v-if="false"
                        prop="id"
                        label="ID"
                        width="0">
                </el-table-column>

                <el-table-column
                        prop="societyCode"
                        label="社会统一代码"
                >
                </el-table-column>

                <el-table-column
                        prop="companyName"
                        label="公司名称"
                >
                </el-table-column>

                <el-table-column
                        prop="companyAddress"
                        label="公司地址"
                        :filters="[{ text: '采购方', value: '采购方' }, { text: '供应方', value: '供应方' }]"
                        :filter-method="filterTag"
                        filter-placement="bottom-end">
                    <template slot-scope="scope">
                        {{scope.row.addressName}}
                    </template>
                </el-table-column>

                <el-table-column
                        prop="userName"
                        label="用户名"
                >
                </el-table-column>

                <el-table-column
                        prop="userType"
                        label="用户类型"
                        :filters="[{ text: '采购方', value: '采购方' }, { text: '供应方', value: '供应方' }]"
                        :filter-method="filterTag"
                        filter-placement="bottom-end">
                    <template slot-scope="scope">
                        <el-tag v-if="scope.row.roleId === '3'"
                                :type="'primary'" disable-transitions>{{scope.row.userType}}</el-tag>
                        <el-tag v-if="scope.row.roleId === '4'"
                                :type="'success'" disable-transitions>{{scope.row.userType}}</el-tag>
                    </template>
                </el-table-column>

                <el-table-column
                        fixed="right"
                        label="操作"
                        width="200">
                    <template slot-scope="scope">
                        <el-button @click="checkDetails(scope.row)" type="text" size="small">查看详情\进行审核</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-pagination
                    @size-change="pageSizeChange"
                    @current-change="pageNoChange"
                    :current-page="query.pageNo"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="query.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="query.totals">
            </el-pagination>
        </el-card>
        <dialog-shenhe-user ref="dialogShenheUser" @ok="registedUserlist"/>
    </div>
</template>

<script>
import {getRegistedUser, getDictionaryAddress} from '@api/api'
import DialogShenheUser from '../../components/my_adminManage/DialogShenheUser'

export default {
  name: 'GetRegistedUser',
  components: {
    DialogShenheUser
  },

  data: function () {
    return {
      users: [],
      selects: [],
      addresses: [],

      interests: [],
      user: {
        id: 0,
        userName: '',
        societyCode: '',
        companyName: '',
        companyLiscense: '',
        companyDescription: '',
        companyAddress: ''
      },

      query: {
        pageNo: 1,
        pageSize: 10,
        totals: 0,
        id: 0,
        userName: '',
        userType: ''
      }
    }
  },
  created () {
    this.registedUserlist()
    this.dictionaryAddress()
  },
  methods: {
    // 表单+分页
    registedUserlist: function () {
      getRegistedUser({pageNo: this.query.pageNo, pageSize: this.query.pageSize}).then(res => {
        this.users = res.data.records
        this.query.totals = res.data.total
      })
    },
    pageSizeChange: function (pageSize) {
      this.query.pageSize = pageSize
      this.registedUserlist()
    },
    pageNoChange: function (pageNo) {
      this.query.pageNo = pageNo
      this.registedUserlist()
    },

    // filter
    resetDateFilter () {
      this.$refs.filterTable.clearFilter('date')
    },
    clearFilter () {
      this.$refs.filterTable.clearFilter()
    },
    formatter (row, column) {
      return row.address
    },
    filterTag (value, row) {
      return row.userType === value
    },
    filterHandler (value, row, column) {
      const property = column['property']
      return row[property] === value
    },

    // 获取地区
    dictionaryAddress: function () {
      getDictionaryAddress().then(res => {
        this.addresses = res.data
      })
    },
    // 点击 进行审核 弹出弹窗 使用表单信息对用户的信息进行展示，并且可以下载用户的营业执照
    // 并且要选择审核是否通过，提交审核意见
    // 然后可以点击确定， 点击确定提交审核，进行提交
    checkDetails: function (tempUser, interests, comapanyLiscense) {
      this.user = tempUser
      this.$refs.dialogShenheUser.checkDetails(this.user)
    }

  }

}

</script>

<style scoped>

</style>
