<template>
    <div>

        <el-descriptions v-for="user in users"
                         :key="user.id"
                         :title=thisTitle direction="vertical" :column="4" border
        style="width: 80%;margin-left: 10%">

                <el-descriptions-item  label="用户名">

                    <p v-if="user.roleId!=='2'">{{user.userName}}</p>

                    <router-link :to="{name:'IM',query:{routerToId:user.id ,routerCompanyName:user.userName}}" v-if="user.roleId==='2'">
                        {{user.userName}}
                    </router-link>

                </el-descriptions-item>
                <el-descriptions-item label="主营方向"
                                  v-if="user.userInterests.length!==0" style="width: 200%">
                    <p v-for="interest in user.userInterests"
                       :key="interest">{{interest}}</p>
                </el-descriptions-item>
            <el-descriptions-item label="公司名称" v-if="user.companyName" :span="2" style=" list-style: none;">
                <router-link :to="{name:'UserInfo',query:{toUserId:user.id}}">
                {{user.companyName}}
                </router-link>
            </el-descriptions-item>

                <el-descriptions-item label="公司地址" v-if="user.addressName" :span="2">{{user.addressName}}</el-descriptions-item>
                <el-descriptions-item label="用户类型">
                    <el-tag size="small">{{user.userType}}</el-tag>
                </el-descriptions-item>
                <el-descriptions-item label="公司简介" v-if="user.roleId!=='2'">{{user.companyDescription}}</el-descriptions-item>

        </el-descriptions>

        <div v-if="users===null">
            暂无搜索内容，请检查搜索内容与搜索方向
        </div>

    </div>
</template>

<script>
import {getUserBySearch} from '@api/api'
export default {
  name: 'GetSearchUser',
  data () {
    return {

      thisTitle: '\n',
      searchMethod: '',
      searchContent: '',
      page: {
        pageNo: 1,
        pageSize: 10
      },
      users: []
    }
  },
  created () {
    this.searchMethod = this.$route.query.searchMethod
    this.searchContent = this.$route.query.searchContent
    this.getUserBySearch()
  },
  watch: {
    // 监听搜索条件，响应相应的商品
    searchMethod: function (val) {
      if (val !== '') {
        this.getUserBySearch()
      }
    },
    // 监听搜索条件，响应相应的商品
    searchContent: function (val) {
      if (val !== '') {
        this.getProductBySearch()
      }
    },
    $route: function (val) {
      if (val.name === 'GetSearchUser') {
        if (val.query.searchContent !== undefined || val.query.searchContent === '') {
          this.page.pageNo = 1
          this.page.totals = 0
          this.searchContent = val.query.searchContent
        }
        if (val.query.searchMethod !== undefined || val.query.searchMethod === '') {
          this.page.pageNo = 1
          this.page.totals = 0
          this.searchMethod = val.query.searchMethod
        }
      }
    }
  },
  methods: {
    getUserBySearch () {
      getUserBySearch(this.searchMethod, this.searchContent,
        this.page.pageNo,
        this.page.pageSize)
        .then(res => {
          this.users = res.data.records
          console.log(this.users)
        })
    }
  }
}
</script>

<style scoped>
    @import url("//unpkg.com/element-ui@2.15.7/lib/theme-chalk/index.css");
    .router-link-active {
        text-decoration: none;
    }
</style>
