<template>
    <div>
        <el-card class="crumbs-card">
            <div class="crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '/main/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item >审核</el-breadcrumb-item>
                    <el-breadcrumb-item>审核订单</el-breadcrumb-item>

                </el-breadcrumb>
            </div>
        </el-card>
        <el-card class="container">
            <el-table
                    ref="filterTable"
                    :data="waitedOrders"
                    style="width: 100%"
                    stripe
                    border>
                <!--订单号，订单金额，供应方公司名，产品名，订单种类，订单状态，查看订单详情，是否完成订单-->
                <el-table-column prop="id"
                                 label="订单号"
                                 width="180%"
                >
                </el-table-column>
                <el-table-column prop="generalAmount"
                                 label="订单金额"
                                 width="80%"
                >
                </el-table-column>

                <el-table-column prop="userCaigou.companyName"
                                 label="采购方方公司名"
                >
                </el-table-column>
                <el-table-column prop="productVO.generalName"
                                 label="商品名称"
                >
                </el-table-column>

                <el-table-column prop="ordersType"
                                 label="订单种类"
                                 width="100%"
                >

                </el-table-column>
                <el-table-column prop="ordersStatus"
                                 label="订单状态"
                                 width="120%"
                >

                </el-table-column>

                <el-table-column
                        fixed="right"
                        label="进行审核"
                        width="200">
                    <template slot-scope="scope">

                        <el-button @click="shenhe(scope.row)" type="text" size="small">提交审核</el-button>
                    </template>

                </el-table-column>
            </el-table>

            <el-pagination
                    @size-change="pageSizeChange"
                    @current-change="pageNoChange"
                    :current-page="page.pageNo"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="page.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="page.totals">
            </el-pagination>
        </el-card>

        <el-dialog
                title="审核订单"
                :visible.sync="dialogShenhe"
                width="80%">

            <el-form  label-width="100px" >
                <el-form-item label="合同">
                    <el-link :href="orders.generalContact">
                        <el-button  type="text" size="small">点击下载营业执照,进行信息比对</el-button>
                    </el-link>
                </el-form-item>
                <el-form-item label="订单号">
                    <el-input readonly v-model="orders.id"></el-input>
                </el-form-item>
                <el-form-item label="采购方">
                    <el-input readonly v-model="orders.userCaigou.companyName"></el-input>
                </el-form-item>
                <el-form-item label="采购方手机号">
                    <el-input readonly v-model="orders.userCaigou.phone"></el-input>
                </el-form-item>
                <el-form-item label="供应方">
                    <el-input readonly v-model="orders.userGongying.companyName"></el-input>
                </el-form-item>
                <el-form-item label="供应方手机号">
                    <el-input readonly v-model="orders.userGongying.phone"></el-input>
                </el-form-item>
                <el-form-item label="商品主页">
                    <router-link :to="{name:'ProductDetail' , query:{productId:orders.productVO.id}}">点击进入商品主页</router-link>
                </el-form-item>
                <el-form-item label="商品名">
                    <el-input readonly v-model="orders.productVO.generalName"></el-input>
                </el-form-item>
                <el-form-item label="商品数量">
                    <el-input readonly v-model="orders.productNumber"></el-input>
                </el-form-item>
                <el-form-item label="商品角色">
                    <el-input readonly v-model="orders.productVO.generalProductRole"></el-input>
                </el-form-item>

                <el-form-item label="审核意见">
                    <el-input type="textarea" v-model="description"></el-input>
                </el-form-item>

            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogShenhe = false">取 消</el-button>
                <el-button type="primary" @click="submmitCheckResult">确认通过</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import {getWaitedOrders, confirmWaitedOrders} from '@api/api'
export default {
  name: 'GetWaitedOrders',
  data () {
    return {
      page: {
        pageNo: 1,
        pageSize: 10,
        totals: 0
      },
      waitedOrders: [],
      orders: {
        userCaigou: {

        },
        userGongying: {

        },
        productVO: {

        }
      },
      dialogShenhe: false,

      description: ':)'
    }
  },
  created () {
    this.getWaitedOrders()
  },
  methods: {
    getWaitedOrders () {
      getWaitedOrders(this.page).then(res => {
        this.waitedOrders = res.data.records
        this.page.totals = res.data.total
        console.log(this.waitedOrders)
      })
    },
    shenhe (orders) {
      this.orders = orders
      console.log(this.orders)

      this.dialogShenhe = true
    },
    submmitCheckResult () {
      this.dialogShenhe = false
      this.$message('正在发送邮件通知采购方，请稍后')
      confirmWaitedOrders(this.orders.id, this.description)
        .then(res => {
          this.getWaitedOrders()
        })
    },
    pageSizeChange: function (pageSize) {
      this.page.pageSize = pageSize
      this.getWaitedOrders()
    },
    pageNoChange: function (pageNo) {
      this.page.pageNo = pageNo
      this.getWaitedOrders()
    }
  }
}
</script>

<style scoped>

</style>
