<template>
    <div class="goods" id="goods" name="goods">
        <el-card class="crumbs-card">
            <div class="crumbs">
                <el-row  :gutter="20">
                    <el-col :span="12">
                        <!-- 面包屑 -->
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item to="/">首页</el-breadcrumb-item>
                            <el-breadcrumb-item>待确认商品</el-breadcrumb-item>
                            <el-breadcrumb-item v-if="search">搜索</el-breadcrumb-item>
                            <el-breadcrumb-item v-else>分类</el-breadcrumb-item>
                            <el-breadcrumb-item v-if="search">{{search}}</el-breadcrumb-item>
                        </el-breadcrumb>
                    </el-col>
                </el-row>
            </div>
        </el-card>
        <!-- 面包屑END -->
        <sub-goods ref="CatagoryGoods" :method="method"></sub-goods>
    </div>
</template>

<script>
import {getCatagoryList} from '@api/api'
import SubGoods from '../../components/my_product/SubGoods'

export default {
  name: 'GetWaitedProduct',
  components: {SubGoods},

  data () {
    return {
      catagorys: [],
      products: [],
      page: {
        pageNo: 1,
        pageSize: 5,
        totals: 0
      },
      method: 'GetWaitedProduct'
    }
  },
  created () {
    this.getCategory()
  },
  methods: {

    // 向后端请求分类列表数据
    getCategory () {
      getCatagoryList({pageNo: 1, pageSize: -1}).then(res => {
        this.catagorys = res.data.records
        this.$refs.CatagoryGoods.catagorys = this.catagorys

        console.log('父组件' + this.catagorys)
      })
    }
  }
}
</script>

<style scoped>

</style>
