<template>
    <div class="main">
        <div v-if="userRoleId===3 || userRoleId===4" class="home" id="home" name="home">

            <!--后加导航-->
            <div class="main-nav">
                <div class="nav-first" >
                    <ul style="width:51.5%;" >
                        <li v-for="(item,index) in allcatagorys" :key="index"
                            :class="{active: item.type === selected}"
                            style=" list-style: none;">
                            <!--<p>-->
                                <router-link :to="{name: 'Goods', query: {categoryID: ''+item.id}}">
                                    <span>{{item.catagoryName}}</span>
                                    <span>></span>
                                </router-link>

                            <!--</p>-->
                        </li>
                    </ul>
                </div>
            </div>
            <!--后加END-->
            <div class="nav" v-if="catagorysLength!==0">
                <div class="product-nav">
                    <div class="title">
                        热门
                    </div>
                    <el-tabs v-model="activeName" type="card">
                        <el-tab-pane
                                :key="all"
                                :name="-1"
                                :label="all"
                        />
                        <el-tab-pane
                                v-for="item in allcatagorys"
                                :key="item.id"
                                :name="''+item.id"
                                :label="item.catagoryName"
                        />
                    </el-tabs>
                </div>
            </div>
            <!--后加图片-->
            <div class="main-carousel">
                <div class="container">
                    <transition-group name="fade" tag="div" class="fade">
                        <div class="fade-item" v-for="(item,index) in fadeItems" v-show="index === curIndex" :key="item.imgUrl">

                                <img :src="item.imgUrl" alt="">

                        </div>
                    </transition-group>
                    <!--<div class="play-pre" @click="playPre">-->
                    <!--<span class="icon"></span>-->
                    <!--</div>-->
                    <!--<div class="play-next" @click="playNext">-->
                    <!--<span class="icon"></span>-->
                    <!--</div>-->
                    <!--<div class="play-dot">-->
                    <!--<span class="dot" v-for="n in 5" :class="{active: n === curIndex + 1}" :key="n"></span>-->
                    <!--</div>-->
                </div>
            </div>
            <!--后加图片end-->

            <div class="main-box">
                <div class="main">
                    <!-- 手机商品展示区域 -->
                    <div class="phone"  v-if="catagorysLength>=1"  style="margin-left: 4%">
                        <div class="box-hd">
                            <div class="title">{{catagorys[0].catagoryName}}</div>
                        </div>
                        <div class="box-bd">
                            <div class="list" style="width: 100%">
                                <MyList :list="products1" :isMore="true"></MyList>
                            </div>
                        </div>
                    </div>
                    <!-- 手机商品展示区域END -->

                    <!-- 家电商品展示区域 -->
                    <div class="appliance" id="promo-menu" v-if="catagorysLength>=2"  style="margin-left: 4%">
                        <div class="box-hd">
                            <div class="title">{{catagorys[1].catagoryName}}</div>
                        </div>
                        <div class="box-bd">
                            <div class="list" style="width: 100%">
                                <MyList :list="products2" :isMore="true"></MyList>
                            </div>
                        </div>
                    </div>
                    <!-- 家电商品展示区域END -->

                    <!-- 配件商品展示区域 -->
                    <div class="accessory" id="promo-menu" v-if="catagorysLength===3"  style="margin-left: 4%">
                        <div class="box-hd">
                            <div class="title">{{catagorys[2].catagoryName}}</div>
                        </div>
                        <div class="box-bd">
                            <div class="list" style="width: 100%;">
                                <MyList :list="products3" :isMore="true"></MyList>
                            </div>
                        </div>
                    </div>
                    <!-- 配件商品展示区域END -->
                </div>
            </div>
        </div>
        <div v-if="userRoleId===0">
            <user-statics></user-statics>
        </div>
        <div v-if="userRoleId===1">
            <get-registed-user/>
        </div>
        <div v-if="userRoleId===2">
            <get-waited-product></get-waited-product>
        </div>
    </div>

</template>

<script>
import {mapGetters} from 'vuex'
import {getMostLatestProductCatagoryId, showMostLatestProducts, getCatagoryList} from '@api/api'
import MyList from '../../main/components/my_product/MyList.vue'
import UserStatics from './my_statics/UserStatics'
import GetWaitedProduct from './my_adminManage/GetWaitedProduct'
import GetRegistedUser from './my_adminManage/GetRegistedUser'
export default {
  name: 'Home',
  components: {
    GetRegistedUser,
    GetWaitedProduct,
    UserStatics,
    MyList
  },
  data () {
    return {
      //  后加
      curIndex: 0,
      timeId: '',
      fadeItems: [
        {imgUrl: './static/img/HOME.png', link: 'https://item.mi.com/buyphone/redmi4x'},
        {imgUrl: './static/img/xmad-2.jpg', link: 'https://item.mi.com/product/10000030.html'},
        {imgUrl: './static/img/xmad-3.jpg', link: 'https://item.mi.com/product/10000029.html'},
        {imgUrl: './static/img/xmad-4.jpg', link: 'https://www.mi.com/buytv/'},
        {imgUrl: './static/img/xmad-5.jpg', link: 'https://www.mi.com/mibookair/'}
      ],
      selected: '',
      isNavEnter: false,
      isMenuEnter: false,
      //  后加end

      // 轮播图sb路径
      imgBlock1: '',
      imgBlock2: '',
      imgBlock3: '',
      activeName: '-2',
      all: '全部',

      allcatagorys: [], // 通过后端获取的全部的类别信息
      catagorys: [],
      products1: [],
      products2: [],
      products3: [],
      catagorysLength: 0,
      page: {
        pageNo: 1,
        pageSize: 10
      },
      catagoryId: '',
      user: {
        id: ''
      }
    }
  },

  created () {
    this.user.id = this.$route.query.userid
    // console.log(this.user.id)
    // if (this.userRoleId === 3 || this.userRoleId === 4) {
    //   this.getCategory()
    //   this.getMostLatestProductCatagoryId()
    // }
  },
  activated () {
  },
  watch: {
    catagorysLength () {
      this.showMostLatestProducts()
    },
    activeName () {
      if (this.activeName !== -2) {
        this.$router.push({name: 'Goods', query: {categoryID: this.activeName}}
        )
      }
    }
  },
  computed: {
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  methods: {
    // 向后端请求分类列表数据
    getCategory () {
      getCatagoryList({pageNo: 1, pageSize: -1}).then(res => {
        this.allcatagorys = res.data.records
        console.log(this.allcatagorys)
      })
    },
    getMostLatestProductCatagoryId () {
      getMostLatestProductCatagoryId().then(res => {
        this.catagorys = res.data
        this.catagorysLength = this.catagorys.length
        console.log(this.catagorys)
        console.log('this.catagorys')

        console.log(this.catagorysLength)
        console.log('this.catagorysLength')
      })
    },
    showMostLatestProducts () {
      console.log('this.products1')
      console.log(this.products1)
      if (this.catagorysLength >= 1) {
        this.catagoryId = this.catagorys[0].id
        console.log(this.catagoryId)
        showMostLatestProducts(this.catagoryId, this.page).then(res => {
          this.products1 = res.data.records
        })
      }
      if (this.catagorysLength >= 2) {
        this.catagoryId = this.catagorys[1].id
        showMostLatestProducts(this.catagoryId, this.page).then(res => {
          this.products2 = res.data.records
        })
      }
      if (this.catagorysLength === 3) {
        this.catagoryId = this.catagorys[2].id
        showMostLatestProducts(this.catagoryId, this.page).then(res => {
          this.products3 = res.data.records
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
    @import "../../../assets/css/index.css";
    .main{
        /*margin-left: 1%;*/
        /*margin-right: 1%;*/
        padding-left: 1%;
        /*padding-right: 1%;*/
    }
    /* 分类标签CSS */
    .nav {
        padding-left: 1%;
        background-color: white;
    }
    .nav .product-nav {
        width: 1225px;
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
    }
    .nav .product-nav .title {
        width: 50px;
        font-size: 16px;
        font-weight: 700;
        float: left;
    }
.site-category{
    -webkit-text-size-adjust: 100%;
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    list-style-type: none;
    position: absolute;
    top: 88px;
    left: -92px;
    z-index: 21;
    width: 234px;
    height: 460px;
    font-size: 14px;
    display: block;
}
    .site-category-list{
        height: 418px;
        margin: 0;
        padding: 20px 0;
        list-style-type: none;
        border: 1px solid #ff6700;
        color: #424242;
        background: #fff;
    }
    .clearfix{

          }

    .site-category-list-custom{
        height: 420px;
        border: 0;
        color: #fff;
        background: rgba(105,101,101,.6);
        }
/*后加*/
    .main-nav{
        font-size: 14px;
        width: 1226px;
        background: #fff;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: flex-start;
    >.nav-first{
        width: 235px;
        height: 458px;
        position: relative;
        z-index: 5;
    ul{
        margin-top: 20%;
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background: rgba(0,0,0,0);
        padding: 20px 0;
        color: #fff;
    li{
        padding-left: 30px;
        height: 42px;
        line-height: 42px;
        cursor: pointer;
    &:hover{
         background: #ff6700;
        span{
            color: whitesmoke;
        }
     }
    >p{
        display: flex;
        justify-content: space-between;
    >.icon{
        margin-right: 20px;
        font-weight: bold;
    }
    }
    }
    }
    }
    }
    .main-carousel{
        position:  relative;
        /*position: absolute;*/
        left: 0;
        /*top: 0;*/
        top: -500px;
        width: 1226px;
        background: #fff;
        height: 460px;
        z-index: 1;
        .container{
            position: relative;
            height: 460px;
            .fade-item{
                position: absolute;
                left: 0;
                top: 0;
                width: 1226px;
                z-index: 1;
            }
            .play-pre{
                position: absolute;
                left: 234px;
                top: 50%;
                margin-top: -35px;
                z-index: 2;
                .icon{
                    width: 41px;
                    height: 69px;
                    background: url(../../../assets/icon-slides.png) no-repeat;
                    background-position: -83px 50%;
                    display: inline-block;
                    cursor: pointer;
                    &:hover{
                        background: url(../../../assets/icon-slides.png) no-repeat;
                        background-position: 1px 50%;
                    }
                }
            }
            .play-next{
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -35px;
                z-index: 2;
                .icon{
                    width: 41px;
                    height: 69px;
                    background: url(../../../assets/icon-slides.png) no-repeat;
                    background-position: -124px 50%;
                    display: inline-block;
                    cursor: pointer;
                    &:hover{
                        background: url(../../../assets/icon-slides.png) no-repeat;
                        background-position: -42px 50%;
                    }
                }
            }
            .play-dot{
                position: absolute;
                z-index: 1;
                width: 100px;
                right: 20px;
                bottom: 20px;
                display: flex;
                justify-content: space-between;
                .dot{
                    width: 6px;
                    height: 6px;
                    border: 2px solid rgba(255,255,255,0.5);
                    border-radius: 50%;
                    background: rgba(0,0,0,0.5);
                }
                .active{
                    border-color: rgba(0,0,0,0.5);
                    background: rgba(255,255,255,0.5);
                }
            }
        }
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s ease;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
        opacity: 0;
    }
    /*后加end*/
    .router-link-active {
        text-decoration: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
</style>
