<template>
    <div>
        <el-card style="">
            <div class="main">
                <div class="main_down">
                    <div class="left">
                        <div class="left_up">
                            <div class="label_title">
                                已建立会话
                            </div>
                            <div :class="curSessionId == item.id ? 'box_select' : 'box'" v-for="item in sessionList_already" :key="item.id">
                                <div class="box_left"  @click="startSession(item.id)">
                                    {{item.listName}}
                                </div>
                                <div class="right_left">
                                    <div class="right_left_count">
                                        {{item.unReadCount}}
                                    </div>
                                    <div class="right_left_del">
                                        <i class="el-icon-close" @click="delSession(item.id)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="left_down" v-if="1===2">-->
                        <!--<div class="label_title">-->
                        <!--可建立会话-->
                        <!--</div>-->
                        <!--<div v-for="item in sessionList_not" :key="item.id" class="box" @click="createSession(item.id, item.name)">-->
                        <!--<div class="box_left">-->
                        <!--{{item.name}}-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->

                    </div>
                    <div class="right">
                        <div class="up" ref="element" id="msg_end">
                            <div v-for="(item,i) in list" :key="i" :class="item.fromUserId === curUserId ? 'msg_right' : 'msg_left'">
                                <div class="msg_right_up">
                                    {{item.fromUserName}} &nbsp;&nbsp;{{item.createTime}}
                                </div>
                                <div :class="item.fromUserId === curUserId ? 'msg_right_down' : 'msg_left_down'">
                                    <div v-if="item.unPicture===1">{{item.content}}</div>
                                    <div v-if="item.unPicture===0">
                                        <el-link :href="item.content">
                                            <img style="height: 100px; max-width:100%; max-height:100%; " :src="item.content" :onerror="defaultImg">
                                            <!--"../../../assets/images/IMFile.jpg"-->
                                        </el-link>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="down">
                            <el-input
                                    style="height: 100px;"
                                    type="textarea"
                                    :rows="4"
                                    placeholder="请输入内容，回车发送！"
                                    @keyup.enter.native = "sendMsg"
                                    v-model="textarea">

                            </el-input>
                            <div class="buttons">
                                <el-button style="position: relative;width: 80px;top: -31px;
                                left: 600px;" type="primary" size="mini"  @click="sendMsg">发送</el-button>
                                <div style="width: 300px;position: relative;top: -30px;">
                                    <el-upload
                                            class="upload-demo"
                                            action="/api/msgInfo/upload"
                                            :on-remove="msgInfoRemove"
                                            :before-remove="msgInfoBeforeRemove"
                                            :on-success="msgInfoSuccess">
                                        <el-button size="mini" type="primary">上传文件</el-button>
                                    </el-upload>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </el-card>
    </div>
</template>

<script>
import {userDetail, getSessionListNot, sessionListAlready,
  createSession, delSession, msgList, removeIMPictureFromOBS} from '@api/api'
import {mapGetters} from 'vuex'

export default {
  name: 'IM',
  computed: {
    // userId, userRoleId的使用仅为传输用，不能用来赋值变量，或者用于其他用途，
    // 只
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  data () {
    return {
      defaultImg: 'this.src="' + require('../../../assets/images/IMFile.png') + '"',
      dialogVisible: false,
      dialogTitle: '',
      loginName: '',
      textarea: '',
      list: [],
      curUserId: '',
      curCompanyName: '',
      curSessionId: '',
      sessionList_already: [],
      sessionList_not: [],

      // 自己的
      user: '',
      IMFile: []
      // routerToId: '',
      // routerCompanyName: '',
      //   list:{
      //       content: (...)
      // createTime: (...)
      // fromUserId: (...)
      // fromUserName: (...)
      // id: (...)
      // toUserId: (...)
      // toUserName: (...)
      // unReadFlag: (...)
      // unPicture
      //   }
    }
  },
  created () { // 页面创建生命周期函数
    // 相关数据初始化
    this.dataInit()
    this.websocketonopen()
  },
  updated () {
    // 解决每次发消息到最后面
    var elmnt = document.getElementById('msg_end')
    elmnt.scrollTop = elmnt.scrollHeight
  },
  destroyed: function () { // 离开页面生命周期函数
    this.websocketclose()
  },
  beforeDestroy: function () { // 离开页面生命周期函数
    this.websocketclose()
  },
  methods: {
    dataInit () {
      console.log('dataInit')

      let a = this.userId
      userDetail(a).then(res => {
        this.user = res.data
        this.curUserId = this.user.id
        this.curCompanyName = this.user.companyName
        console.log('this.curUserId, this.curCompanyName')
        console.log(this.curUserId, this.curCompanyName)

        console.log('this.$route.query.routerToId, this.$route.query.routerCompanyName')
        console.log(this.$route.query.routerToId, this.$route.query.routerCompanyName)

        // 如果是因为点击了联系商家跳转过来的话
        if (this.$route.query.routerToId === null ||
            this.$route.query.routerCompanyName === null ||
            typeof this.$route.query.routerToId === 'undefined' ||
            typeof this.$route.query.routerCompanyName === 'undefined') {
          this.sessionListAlready()
        } else {
          this.createSession(this.$route.query.routerToId, this.$route.query.routerCompanyName)
        }
        this.startSession(-1)
      })
    },
    initWebSocket: function (userId, sessionId) {
      console.log('initWebSocket')

      // WebSocket与普通的请求所用协议有所不同，ws等同于http，wss等同于https
      this.websock = new WebSocket('ws://localhost:8888/websocket/' + userId + '/' + sessionId)
      this.websock.onopen = this.websocketonopen
      this.websock.onerror = this.websocketonerror
      this.websock.onmessage = this.websocketonmessage
      this.websock.onclose = this.websocketclose
    },
    websocketonopen: function () {
      console.log('WebSocket连接成功')
    },
    websocketonerror: function (e) {
      console.log('WebSocket连接发生错误', e)
    },
    websocketonmessage: function (e) {
      console.log('websocketonmessage')
      let data = JSON.parse(e.data)
      if (data instanceof Array) {
        // 列表数据
        this.sessionList_already = data
        // console.log('sessionList_already')
        // console.log(this.sessionList_already)
        // this.sessionListAlready()
      } else {
        // 消息数据
        if (typeof data.createTime === 'object') {
          console.log(data)
          let now = data.createTime
          let year = now.year // 得到年份
          let month = now.monthValue// 得到月份
          let date = now.dayOfMonth// 得到日期
          let hour = now.hour// 得到小时数
          let minute = now.minute// 得到分钟数
          let second = now.second// 得到秒数
          let time = '' + year + '-' + month + '-' + date + ' ' + hour + ':' + minute + ':' + second
          data.createTime = time
        }

        this.list.push(data)
        console.log('list')
        console.log(this.list)
      }
    },
    websocketclose: function (e) {
      console.log('websocketclose')
      console.log(this.curSessionId)
      if (this.curSessionId === '') { console.log('空字符串') } else { console.log('不为空') }

      if (this.curUserId !== null) {
        if (this.curSessionId !== null && this.curSessionId !== '') {
          console.log('执行错了')
          this.initWebSocket(this.curUserId, this.curSessionId)
        } else {
          console.log('执行错了个寂寞')
          this.initWebSocket(this.curUserId, -1)
        }
      }
      console.log('connection closed', e)
      console.log(e)
    },
    // // 路由跳转时结束websocket链接
    // this.$router.afterEach(function () {
    //     this.websocketclose
    // }),

    num2string (val) {
      if (val < 10) {
        return '0' + val
      }
    },
    // 消息发送——使用了ws发送请求
    sendMsg () {
      console.log('sendMsg')
      if (this.curSessionId === '') {
        return this.$message.error('请选择左边的对话框开始聊天!')
      }
      let now = new Date()
      let year = now.getFullYear() // 得到年份
      let month = now.getMonth() + 1// 得到月份
      if (month < 10) month = '0' + month

      let date = now.getDate()// 得到日期
      if (date < 10) date = '0' + date

      let hour = now.getHours()// 得到小时数
      if (hour < 10) hour = '0' + hour

      let minute = now.getMinutes()// 得到分钟数
      if (minute < 10) minute = '0' + minute

      let second = now.getSeconds()// 得到秒数
      if (second < 10) second = '0' + second

      let time = '' + year + '-' + month + '-' + date + ' ' + hour + ':' + minute + ':' + second

      if (this.textarea !== '') {
        this.websock.send(this.textarea)

        let data = {
          'fromUserId': this.curUserId,
          'fromUserName': this.curCompanyName,
          'content': this.textarea,
          'createTime': time,
          'unPicture': 1
        }
        if (data.fromUserName === '' || data.fromUserName === null) { data.fromUserName = this.user.userName }
        this.list.push(data)
      }
      let fileLength = this.IMFile.length
      if (fileLength !== 0) {
        for (let i = 0; i < fileLength; i++) {
          this.websock.send(this.IMFile[i].productPicturePath)
          let data = {
            'fromUserId': this.curUserId,
            'fromUserName': this.curCompanyName,
            'content': this.IMFile[i].productPicturePath,
            'createTime': time,
            'unPicture': 0
          }
          if (data.fromUserName === '' || data.fromUserName === null) { data.fromUserName = this.user.userName }
          this.list.push(data)
        }
      }

      this.textarea = ''
      this.IMFile = []
    },

    // 获取可建立会话列表
    getSessionListNot () {
      console.log('getSessionListNot')

      // axios.get('localhost:8888/sessionList/not?id=' + this.curUserId)
      getSessionListNot(this.curUserId)
        .then(res => {
          if (res.code === -1) {
            // return this.$message.error(res.errDesc)
          }
          this.sessionList_not = res.data
        })
        .catch(function (error) {
          console.log(error)
        })
    },

    // 获取已存在的会话列表
    sessionListAlready () {
      console.log('sessionListAlready')

      // axios.get('localhost:8888/sessionList/already?id=' + this.curUserId)
      sessionListAlready(this.curUserId)
        .then(res => {
          if (res.code === -1) {
            // return this.$message.error(res.errDesc)
          }
          this.sessionList_already = res.data
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    // 创建会话
    createSession (toUserId, toUserName) {
      console.log('createSession')

      // axios.get('localhost:8888/createSession?id=' + this.curUserId + '&toUserId=' + toUserId + '&toUserName=' + toUserName)
      createSession(this.curUserId, toUserId, toUserName)
        .then(res => {
          if (res.code === -1) {
            // return this.$message.error(res.errDesc)
          }
          // this.getSessionListNot()
          this.sessionListAlready()
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    // 开始会话——使用ws
    startSession (sessionId) {
      console.log('startSession')

      console.log(this.websock)
      if (this.websock !== undefined) {
        this.websock.close()
      }
      this.curSessionId = sessionId
      this.initWebSocket(this.curUserId, sessionId)
      this.sessionListAlready()
      this.msgList(sessionId)
    },
    // 删除会话
    delSession (sessionId) {
      console.log('delSession')

      // axios.get('localhost:8888/delSession?sessionId=' + sessionId)
      delSession(sessionId)
        .then(res => {
          if (res.code === -1) {
            // return this.$message.error(res.errDesc)
          }
          this.getSessionListNot()
          this.sessionListAlready()
        })
        .catch(function (error) {
          console.log(error)
        })
      this.list = []
    },

    // 获取消息数据
    msgList (sessionId) {
      // axios.get('localhost:8888/msgList?sessionId=' + sessionId)
      msgList(sessionId)
        .then(res => {
          if (res.code === -1) {
            // return this.$message.error(res.errDesc)
          }
          this.list = res.data
          console.log('this.list')
          console.log(this.list)
          console.log(this.curUserId)
          // 从新获取列表
          this.sessionListAlready()
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    /**
       * 发送图片时，对图片的操作
     *   :on-remove="msgInfoRemove"
     *  :before-remove="msgInfoBeforeRemove"
     *  :on-success="msgInfoSuccess
       * */

    msgInfoSuccess (res, file) {
      this.IMFile.push({productPicturePath: res.productPicturePath, pictureName: res.pictureName})
      console.log('this.IMFile')
      console.log(this.IMFile)
    },
    msgInfoRemove (file, fileList) {
      // file.response.url
      this.IMFile.forEach(x => {
        if (x.productPicturePath === file.response.productPicturePath) {
          this.IMFile.splice(this.IMFile.indexOf(x), 1)
          removeIMPictureFromOBS(x.productPicturePath).then()
        }
      })
    },
    msgInfoBeforeRemove (file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`)
    }

  }
}
</script>

<style scoped>
    .main{
        width: 980px;
        /* border: 1px #1890ff solid; */
        /*margin-top: 0.5%;*/
        margin-left: 80px;
        /*height: 790px;*/
        height: 550px;
        /*height: 600px;*/
    }
    .main_up{
        width: 980px;
        height: 40px;
        /* border:1px red solid; */
    }
    .main_down{
        width: 981px;
        height: 496px;
        border: 1px #1890ff solid;
        display: flex;
        justify-self: space-between;
    }
    .left{
        width: 300px;
        height: 496px;
        border-right: 1px #1890ff solid;
    }
    .left_up{
        width: 300px;
        height: 496px;
        overflow-y: auto;
        /* border: 1px red solid; */
    }
    .label_title{
        width: 282px;
        height: 25px;
        background-color: #f8f8f8;
        font-weight: 600;
        padding: 8px;
    }
    .left_down{
        width: 300px;
        height: 300px;
        overflow-y: auto;
        /* border: 1px green solid; */
    }
    .right{
        width: 680px;
        height: 500px;
        /* border-right: 1px #1890ff solid; */
    }
    .box{
        width: 250px;
        height: 22px;
        padding: 10px 25px 10px 25px;
        display: flex;
        justify-self: flex-end;
        /* border: 1px red solid; */
    }
    .box:hover{
        height: 30px;
        background-color: gainsboro;
        cursor: pointer;
    }
    .box_select{
        width: 250px;
        height: 30px;
        padding: 10px 25px 10px 25px;
        display: flex;
        justify-self: flex-end;
        background-color: gainsboro;
    }
    .box_left{
        width: 230px;
        height: 22px;
    }
    .right_left{
        width: 50px;
        height: 22px;
        display: flex;
        justify-content: space-between;
        /* border: 1px red solid; */
    }
    .right_left_count{
        /* border: 1px blue solid; */
        padding-left: 10px;
        width: 20px;
    }
    .right_left_del{
        width: 20px;
        padding-left: 10px;
    }
    .up{
        width: 680px;
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
        /* padding-bottom: 40px; */
        border-bottom: 1px #1890ff solid;
    }
    .msg_left{
        width: 675px;
        /* padding-left: 5px; */
        margin-top: 5px;
        /* border: 1px #1890ff solid; */
    }
    .msg_left_up{
        height: 25px;
        margin-top: 5px;
    }
    .msg_left_down{
        /*height: 25px;*/
        height: 100px;
        /* border: 1px #1890ff solid; */
        padding-left: 10px;
    }
    .msg_right{
        width: 660px;
        /* padding-right: 20px; */
        margin-top: 5px;
        /* border: 1px #1890ff solid; */
        text-align: right;
    }
    .msg_right_up{
        height: 25px;

    }
    .msg_right_down{
        /*height: 25px;*/
        height: 100px;
        /* border: 1px #1890ff solid; */
        padding-right: 10px;
    }
    .down{
        width: 680px;
        height: 100px;
        /* border: 1px red solid; */
    }
    .buttons{
        /*display: inline-flex;*/
    }
</style>
