<template>
    <div>
        <el-card class="crumbs-card">
            <div class="crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '/main/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item >商品详情</el-breadcrumb-item>
                    <el-breadcrumb-item >查看竞价</el-breadcrumb-item>

                </el-breadcrumb>
            </div>
        </el-card>
        <el-card class="container">
            <el-table
                    ref="filterTable"
                    :data="jingjias"
                    style="width: 100%"
                    stripe
                    border>
                <el-table-column v-if="false"
                                 prop="id"
                                 label="ID"
                                 width="0">
                </el-table-column>

                <el-table-column
                        prop="companyName"
                        label="供应方公司名称"
                >
                </el-table-column>

                <el-table-column
                        prop="amount"
                        label="竞价价格"
                        sortable
                >
                </el-table-column>

                <el-table-column
                        prop="createTime"
                        label="竞价日期"
                        sortable
                >
                </el-table-column>

                <el-table-column
                        fixed="right"
                        label="查看详情"
                        width="200">
                    <template slot-scope="scope">
                        <el-button @click="checkDetails(scope.row)" type="text" size="small">供应方详情</el-button>
                    </template>
                </el-table-column>

                    <el-table-column
                        fixed="right"
                        label="接受竞价"
                        width="200">
                        <template slot-scope="scope">

                        <el-button v-if="scope.row.caigouStatus===1" @click="acceptJingjia(scope.row)" type="text" size="small">接受竞价</el-button>
                            <el-button v-if="scope.row.caigouStatus===-1"  type="text" size="small">商品已接受竞价</el-button>
                        </template>

                    </el-table-column>
            </el-table>

            <el-pagination
                    @size-change="pageSizeChange"
                    @current-change="pageNoChange"
                    :current-page="page.pageNo"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="page.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="page.totals">
            </el-pagination>
        </el-card>

        <!--竞价详情弹框-->
        <el-dialog
                title="竞价详情"
                :visible.sync="dialogUserGongyingDetail"
                width="40%">

            <el-form  label-width="100px" >

                <el-form-item label="供应方公司">
                    <el-input readonly v-model="jingjia.companyName"></el-input>
                </el-form-item>
                <el-form-item label="供应方邮箱">
                    <el-input readonly v-model="jingjia.email"></el-input>
                </el-form-item>
                <el-form-item label="供应方主页">
                    <router-link :to="{name:'UserInfo',query:{toUserId:jingjia.userId}}" style=" list-style: none;">
                        点击进入供应方主页
                    </router-link>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!--上传合同，接受定价-->
        <el-dialog title="接受定价" :visible.sync="dialogAcceptJingjia"
        width="20%">
            <el-form :model="form">
                <el-form-item>
                    <el-upload ref="uploadFile"
                               class="upload-demo"
                               action="/api/orders/uploadContact"
                               :on-success="acceptJingjiaAvatarSuccess"
                               :headers="headers"
                               :before-remove="beforeRemove"
                               :before-upload="beforeUploadFile"
                               :on-exceed="handleExceed"
                               :limit="1"
                              >
                        <el-button size="small" type="primary">请上传合同</el-button>
                        <div slot="tip" class="el-upload__tip">只能上传一个文件</div>
                    </el-upload>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button size="mini" @click="dialogAcceptJingjia = false">取 消</el-button>
                <el-button size="mini" type="primary" @click="acceptProductCaigouJingjia">确 定</el-button>
            </div>
        </el-dialog>

    </div>
</template>

<script>
import {getProductCaigouJingjia, removePictureOnOBS,
  acceptProductCaigouJingjia, aliPay} from '@api/api'

export default {
  name: 'CaigouGetJingjia',
  data () {
    return {
      jingjias: [],
      userId: '',
      userRoleId: '',

      page: {
        pageNo: 1,
        pageSize: 10,
        totals: 0
      },
      productId: '',

      jingjia: '',
      dialogUserGongyingDetail: false,
      generalContact: [],
      dialogAcceptJingjia: false,
      ordersId: ''
      // "id": "1509068407297454082",
      // "productId": "1508777265909624834",
      // "userId": "4",
      // "amount": 30000,
      // "createTime": "2022-03-30 15:22:00",
      // "updateTime": null,
      // "deleted": 0,
      // "userName": null,
      // "email": null,
      // "companyName": "101",
      // "companyDescription": null,
      // "companyAddress": null,
      // "addressName": null,
      // "generalName": "轴承",
      // "generalDescription": null,
      // "caigouStatus": null
    }
  },
  created () {
    this.getProductCaigouJingjia()
    console.log(this.jingjias)
  },
  watch: {
    ordersId: 'aliPay'
  },

  methods: {
    pageSizeChange: function (pageSize) {
      this.page.pageSize = pageSize
      this.getProductCaigouJingjia()
    },
    pageNoChange: function (pageNo) {
      this.page.pageNo = pageNo
      this.getProductCaigouJingjia()
    },
    getProductCaigouJingjia () {
      this.jingjias = this.$route.query.jingjias
      this.userId = this.$route.query.userId
      this.userRoleId = this.$route.query.userRoleId
      this.productId = this.$route.query.productId

      console.log(this.productId)
      getProductCaigouJingjia(this.page, this.productId)
        .then(res => {
          this.jingjias = res.data.records
          this.page.totals = res.data.total
          console.log(this.jingjias)
        })
    },
    checkDetails (jingjia) {
      this.jingjia = jingjia
      this.dialogUserGongyingDetail = true
    },
    acceptJingjia (jingjia) {
      this.jingjia = jingjia
      this.dialogAcceptJingjia = true
    },
    acceptProductCaigouJingjia () {
      this.$message('正在跳转支付宝支付界面')
      let jingjiaId = this.jingjia.id
      this.dialogAcceptJingjia = false
      acceptProductCaigouJingjia(jingjiaId,
        this.generalContact[0].ordersId,
        this.generalContact[0].path)
        .then(res => {
          this.ordersId = this.generalContact[0].ordersId
          console.log('this.ordersId')
          console.log(this.ordersId)
        })
    },
    // 采购方进行支付
    aliPay () {
      aliPay(this.ordersId).then(res => {
        console.log('apliPay.res')
        console.log(res)

        const divForm = document.getElementsByTagName('div')
        if (divForm.length) {
          document.body.removeChild(divForm[0])
        }

        const div = document.createElement('div')
        div.innerHTML = res // res.data就是sb支付宝返回给你的form
        document.body.appendChild(div)
        document.forms[0].setAttribute('target', '_blank') // 加了_blank可能出问题所以我注释了
        document.forms[0].submit()
        console.log(document)
        this.message('刷新界面以更新订单状态')
      })
    },

    // 文件上传的相关操作
    acceptJingjiaAvatarSuccess (res, file) {
      this.generalContact.push({ordersId: res.ordersId, path: res.path})
      console.log('this.generalContact')
      console.log(this.generalContact)
    },
    acceptOrderRemove (file, fileList) {
      // file.response.url
      this.imgs.forEach(x => {
        if (x.productPicturePath === file.response.productPicturePath) {
          this.imgs.splice(this.imgs.indexOf(x), 1)
          removePictureOnOBS(x.productPicturePath).then()
        }
      })
    },
    acceptOrderBeforeRemove (file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`)
    }
  }
}
</script>

<style scoped>
    .router-link-active {
        text-decoration: none;
    }
    a{
        text-decoration: none;
        color: dodgerblue;
    }
</style>
