<template>
    <div>
        <el-card class="crumbs-card">
            <div class="crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '/main/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item >历史竞价</el-breadcrumb-item>

                </el-breadcrumb>
            </div>
        </el-card>
        <el-card class="container">
            <el-table
                    ref="filterTable"
                    :data="myJingjias"
                    style="width: 100%"
                    stripe
                    border>
                <!--订单号，订单金额，供应方公司名，产品名，订单种类，订单状态，查看订单详情，是否完成订单-->
                <el-table-column prop="id"
                                 label="产品号"
                                 sortable
                                 width="180%"
                >
                </el-table-column>

                <el-table-column prop="userCaigou.companyName"
                                 v-if="userRoleId===4" label="采购方公司"
                width="225%">
                </el-table-column>

                <el-table-column prop="productVO.generalName"
                                 label="产品名称"
                >
                </el-table-column>

                <el-table-column prop="productVO.productCatagory"
                                 label="商品种类"
                                 width="100%"
                ></el-table-column>

                <el-table-column prop="createTime"
                                 label="竞价时间"
                                 sortable
                ></el-table-column>
                    <el-table-column prop="amount"
                                     label="竞价金额"
                                     sortable
                                     width="120%"
                    >
                    </el-table-column>

                <el-table-column
                        fixed="right"
                        label="查看详情"
                        width="150">
                    <template slot-scope="scope">
                        <el-button @click="checkDetails(scope.row)" type="text" size="small">竞价详情</el-button>
                    </template>
                </el-table-column>

            </el-table>

            <el-pagination
                    @size-change="pageSizeChange"
                    @current-change="pageNoChange"
                    :current-page="page.pageNo"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="page.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="page.totals">
            </el-pagination>
        </el-card>

        <el-dialog
                title="竞价详情"
                :visible.sync="dialogVisible"
                width="40%">

            <el-form  label-width="100px" >

                <el-form-item label="商品主页">
                    <router-link :to="{name:'ProductDetail' , query:{productId:jingjia.productVO.id}}" style=" list-style: none;">点击进入商品主页</router-link>
                </el-form-item>
                <el-form-item label="商品名">
                    <el-input readonly v-model="jingjia.productVO.generalName"></el-input>
                </el-form-item>
                <el-form-item label="商品种类">
                    <el-input readonly v-model="jingjia.productVO.productCatagory"></el-input>
                </el-form-item>

                <el-form-item label="采购方主页">
                    <router-link :to="{name:'UserInfo' , query:{toUserId:jingjia.userCaigou.id}}" style=" list-style: none;">点击进入采购方主页</router-link>
                </el-form-item>
                <el-form-item label="采购方公司名">
                    <el-input readonly v-model="jingjia.userCaigou.companyName"></el-input>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>

</template>

<script>
import {getUserGongyingMyJingjias} from '@api/api'
import {mapGetters} from 'vuex'

export default {
  name: 'GongyingAllJingjia',
  data () {
    return {
      page: {
        pageNo: 1,
        pageSize: 10,
        totals: 0
      },
      myJingjias: [],
      dialogVisible: false,
      jingjia: {
        productVO: {
          picturepaths: ''
        },
        userCaigou: ''
      }

    }
  },
  created () {
    this.getUserGongyingMyJingjias()
  },
  computed: {
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  methods: {
    getUserGongyingMyJingjias () {
      getUserGongyingMyJingjias(this.page.pageNo, this.page.pageSize).then(res => {
        this.myJingjias = res.data.records
        this.page.totals = res.data.total
      })
    },
    checkDetails (jingjia) {
      this.jingjia = jingjia
      this.dialogVisible = true
    },
    pageSizeChange: function (pageSize) {
      this.page.pageSize = pageSize
      this.getUserGongyingMyJingjias()
    },
    pageNoChange: function (pageNo) {
      this.page.pageNo = pageNo
      this.getUserGongyingMyJingjias()
    }
  }
}
</script>

<style scoped>
    .router-link-active {
        text-decoration: none;
    }
    a{
        text-decoration: none;
        color: dodgerblue;
    }
</style>
