<template>
    <div class="goods" id="goods" name="goods">

        <!-- 分类标签 -->
        <div class="nav">
            <div class="product-nav">
                <div class="title">分类</div>
                <el-tabs v-model="activeName" type="card">
                    <el-tab-pane
                            :key="all"
                            :name="-1"
                            :label="all"
                    />
                    <el-tab-pane
                            v-for="item in catagorys"
                            :key="item.id"
                            :name="''+item.id"
                            :label="item.catagoryName"
                    />
                </el-tabs>
            </div>
        </div>
        <!-- 分类标签END -->

        <!-- 主要内容区 -->
        <div class="main">
            <div class="list">
                <MyList :list="products" v-if="products.length>0"></MyList>
                <div v-else class="none-product">
                    <!--暂时没有相关的商品-->
                    <img style="margin-left: 20px" src="../../../../assets/images/NoneProduct.png">

                </div>
            </div>
            <!-- 分页 -->
            <div class="pagination">
                <el-pagination
                        @size-change="pageSizeChange"
                        @current-change="pageNoChange"
                        :current-page="page.pageNo"
                        :page-sizes="[8, 12, 16]"
                        :page-size="page.pageSize"
                        layout="total,sizes, prev, pager, next, jumper"
                        :total="page.totals">
                </el-pagination>
            </div>
            <!-- 分页END -->
        </div>
        <!-- 主要内容区END -->
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {myProduct, getCatagoryList, getWaitedProduct, getProductByCatagory} from '@api/api'
import MyList from '../../components/my_product/MyList'
export default {
  name: 'SubGoods',
  components: {MyList},
  props: [
    'method'
  ],
  data () {
    return {
      search: '', // 搜索条件
      all: '全部',

      // 自己的
      page: {
        pageNo: 1,
        pageSize: 8,
        totals: 0
      },
      catagorys: [], // 通过后端获取的全部的类别信息
      activeName: '-1', // 分类列表当前选中的id
      categoryID: [], // 分类id, 某一个特定的分类id
      product: '', // 某个商品
      products: [] // 从后端获得的商品
    }
  },
  computed: {
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  created () {
    this.getCategory()
    this.init()
    if (this.method === 'ProductManage') {
      this.myProduct()
    } else if (this.method === 'GetWaitedProduct') {
      this.getWaitedProduct()
    }
  },
  activated () {
    this.getCategory()
    if (this.method === 'ProductManage') {
      this.myProduct()
    } else if (this.method === 'GetWaitedProduct') {
      this.getWaitedProduct()
    }
    this.init()
  },
  watch: {
    // 监听点击了哪个分类标签，通过修改分类id，响应相应的商品
    activeName: function (val) {
      if (val === -1) {
        this.categoryID = []
      }
      if (val >= 0) {
        this.categoryID = [Number(val)]
      }
      console.log('watch-activeName')
      console.log(this.activeName)
      // 初始化商品总量和当前页码
      this.pageNo = 1

      // 更新地址栏链接，方便刷新页面可以回到原来的页面
      // if (this.method === 'ProductManage') {
      //   this.myProduct()
      // } else if (this.method === 'GetWaitedProduct') {
      //   this.getWaitedProduct()
      // }
      this.$router.push({
        name: this.method,
        query: { categoryID: this.categoryID }
      })
    },
    // 监听搜索条件，响应相应的商品
    search: function (val) {
      if (val !== '') {
        this.getProductBySearch(val)
      }
    },
    // 监听分类id，响应相应的商品
    categoryID: function () {
      this.getData()
      this.search = ''
    },
    // 监听路由变化，更新路由传递了搜索条件
    $route: function (val) {
      if (val.name === 'SubGoods') {
        if (val.query.search !== undefined) {
          this.activeName = '-1'
          this.page.pageNo = 1
          this.search = val.query.search
        }
      }
    }
  },
  methods: {
    init () {
      this.activeName = '-1' // 初始化分类列表当前选中的id为-1
      this.page.pageNo = 1 // 初始化当前页码为1
      // 如果路由没有传递参数，默认为显示全部商品
      if (Object.keys(this.$route.query).length === 0) {
        this.categoryID = []
        this.activeName = '-1'
        return
      }
      // 如果路由传递了categoryID，则显示对应的分类商品
      if (this.$route.query.categoryID !== undefined) {
        console.log('this.$route.query.categoryID')
        console.log(this.$route.query.categoryID)

        this.categoryID = this.$route.query.categoryID
        console.log('this.categoryID')
        console.log(this.categoryID)

        if (this.categoryID.length === 1) {
          this.activeName = '' + this.categoryID[0]
        }
        return
      }
      // 如果路由传递了search，则为搜索，显示对应的分类商品
      if (this.$route.query.search !== undefined) {
        this.search = this.$route.query.search
      }
    },
    // 返回顶部
    backtop () {
      const timer = setInterval(function () {
        const top = document.documentElement.scrollTop || document.body.scrollTop
        const speed = Math.floor(-top / 5)
        document.documentElement.scrollTop = document.body.scrollTop =
                        top + speed

        if (top === 0) {
          clearInterval(timer)
        }
      }, 20)
    },
    // 向后端请求分类列表数据
    getCategory () {
      getCatagoryList({pageNo: 1, pageSize: -1}).then(res => {
        this.catagorys = res.data.records
        console.log(this.catagorys)
      })
    },
    // 向后端请求全部商品或分类商品数据
    myProduct () {
      console.log('this.catagoryID')
      console.log(this.categoryID)

      myProduct(this.page.pageNo, this.page.pageSize, this.categoryID)
        .then(res => {
          this.products = res.data.records
          console.log(this.products)
          this.page.totals = res.data.total
          console.log('this.page.totals', this.page.totals)
        })
    },
    getWaitedProduct () {
      getWaitedProduct(this.page.pageNo, this.page.pageSize, this.categoryID)
        .then(res => {
          this.products = res.data.records
          this.page.totals = res.data.total
          console.log('this.page.totals', this.page.totals)
        })
    },
    getProductByCatagory () {
      getProductByCatagory(this.page.pageNo, this.page.pageSize, this.categoryID, this.userRoleId)
        .then(res => {
          this.products = res.data.records
          this.page.totals = res.data.total
          console.log('this.page.totals', this.page.totals)
        })
    },
    getData () {
      // Goods为子组件传值
      if (this.method === 'ProductManage') {
        this.myProduct()
      } else if (this.method === 'GetWaitedProduct') {
        this.getWaitedProduct()
      }
    },
    // 通过搜索条件向后端请求商品数据
    getProductBySearch () {
      this.$axios
        .post('/api/product/getProductBySearch', {
          search: this.search,
          pageNo: this.page.pageNo,
          pageSize: this.page.pageSize
        })
        .then(res => {
          this.product = res.data.Product
        })
        .catch(err => {
          return Promise.reject(err)
        })
    },

    // 页码变化调用currentChange方法
    pageNoChange (currentPage) {
      this.page.pageNo = currentPage
      if (this.search !== '') {
        this.getProductBySearch()
      } else {
        this.getData()
      }
      this.backtop()
    },
    // 页码变化调用currentChange方法
    pageSizeChange (pageSize) {
      this.page.pageSize = pageSize
      if (this.search !== '') {
        this.getProductBySearch()
      } else {
        this.getData()
      }
      this.backtop()
    }
  }
}
</script>

<style scoped>
    .goods {
        background-color: #f5f5f5;
    }

    /* 分类标签CSS */
    .goods .nav {
        background-color: white;
        padding-left: 1.5%;
    }
    .goods .nav .product-nav {
        width: 1225px;
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
    }
    .nav .product-nav .title {
        width: 50px;
        font-size: 16px;
        font-weight: 700;
        float: left;
    }
    /* 分类标签CSS END */

    /* 主要内容区CSS */
    .goods .main {
        margin: 0 auto;
        max-width: 1225px;
    }
    .goods .main .list {
        min-height: 650px;
        padding-top: 14.5px;
        padding-left: 6%;
        margin-left: -13.7px;
        overflow: auto;
    }
    .goods .main .pagination {
        height: 50px;
        text-align: center;
    }
    .goods .main .none-product {
        color: #333;
        margin-left: 13.7px;
    }
    /* 主要内容区CSS END */
</style>
