<template>
  <div>
    <el-card class="crumbs-card">
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/main' }">首页</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </el-card>
  </div>
</template>

<script>

export default {
  name: 'first',
  data () {
    return {
    }
  },
  created: {

  }
}
</script>
