<template>
    <div>
        <el-card class="crumbs-card">
            <div class="crumbs">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '/main/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item >我的订单</el-breadcrumb-item>

                </el-breadcrumb>
            </div>
        </el-card>
        <el-card class="container">
            <el-table
                    ref="filterTable"
                    :data="myOrders"
                    style="width: 100%"
                    stripe
                    border>
                <!--订单号，订单金额，供应方公司名，产品名，订单种类，订单状态，查看订单详情，是否完成订单-->
                <el-table-column prop="id"
                                 label="订单号"
                                 width="200%"
                                 sortable
                >
                </el-table-column>
                <el-table-column prop="generalAmount"
                                 label="订单金额"
                                 width="110%"
                                 sortable
                >
                </el-table-column>

                <el-table-column prop="userGongying.companyName"
                                 v-if="userRoleId===3" label="供应方公司">
                </el-table-column>
                <el-table-column prop="userCaigou.companyName"
                                 v-if="userRoleId===4" label="采购方公司">
                </el-table-column>

                <el-table-column prop="productVO.generalName"
                                 label="商品名称"
                                 width="200%"
                >
                </el-table-column>

                <el-table-column prop="ordersType"
                                 label="订单种类"
                                 width="110%"
                >

                </el-table-column>
                <el-table-column prop="ordersStatus"
                                 label="订单状态"
                                 width="80%"

                >

                </el-table-column>

                <el-table-column
                        fixed="right"
                        label="查看详情"
                        width="100">
                    <template slot-scope="scope">
                        <el-button @click="checkDetails(scope.row)" type="text" size="small">订单详情</el-button>
                    </template>
                </el-table-column>

                <el-table-column
                        fixed="right"
                        label="完成订单"
                        width="100"
                        v-if="userRoleId===3" >
                    <template slot-scope="scope">
                        <el-button v-if="scope.row.generalStatus===0 " @click="aliPay(scope.row)" type="text" size="small">请支付订单</el-button>
                        <el-button v-if="scope.row.generalStatus===2 " type="text" size="small">请等待审核</el-button>

                        <el-button v-if="scope.row.generalStatus===1" @click="finishOrders(scope.row)" type="text" size="small">点击完成订单</el-button>
                        <el-button v-if="scope.row.generalStatus===-1"  type="text" size="small">订单已完成</el-button>
                    </template>

                </el-table-column>
            </el-table>

            <el-pagination
                    @size-change="pageSizeChange"
                    @current-change="pageNoChange"
                    :current-page="page.pageNo"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="page.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="page.totals">
            </el-pagination>
        </el-card>

        <el-dialog
                title="订单详情"
                :visible.sync="dialogVisible"
                width="40%">

            <el-form  label-width="100px" label-position="left">

                <el-form-item label="合同">
                    <el-link :href="orders.generalContact">
                        <el-button  type="text" size="small">点击下载营业执照,进行信息比对</el-button>
                    </el-link>
                </el-form-item>
                <el-form-item label="订单创建时间">
                    <el-input readonly v-model="orders.createTime"></el-input>
                </el-form-item>
                <el-form-item label="商品详情" style=" list-style: none;">
                    <router-link :to="{name:'ProductDetail' , query:{productId:orders.productVO.id}}">点击进入商品主页</router-link>
                </el-form-item>
                <el-form-item label="商品名">
                    <el-input readonly v-model="orders.productVO.generalName"></el-input>
                </el-form-item>
                <el-form-item label="商品种类">
                    <el-input readonly v-model="orders.productVO.productCatagory"></el-input>
                </el-form-item>
                <el-form-item label="供应方主页" v-if="userRoleId===3">
                    <router-link :to="{name:'UserInfo',query:{toUserId:orders.userGongying.id}}" style=" list-style: none;">
                        点击进入供应方主页
                    </router-link>
                </el-form-item>
                <el-form-item label="采购方主页" v-if="userRoleId===4">
                    <router-link :to="{name:'UserInfo',query:{toUserId:orders.userCaigou.id}}" style=" list-style: none;">
                        点击进入采购方主页
                    </router-link>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>

</template>

<script>
import {getMyOrders, finishOrders, aliPay} from '@api/api'
import {mapGetters} from 'vuex'

export default {
  name: 'myOrders',
  data () {
    return {
      page: {
        pageNo: 1,
        pageSize: 10,
        totals: 0
      },
      myOrders: [],
      dialogVisible: false,
      orders: {
        createTime: '',
        productVO: {
          id: '',
          generalName: '',
          productCatagory: ''
        },
        userCaigou: {
          id: ''
        },
        userGongying: {
          id: ''
        }
      }
      // 奇奇怪怪的东西，不能当真
    }
  },
  created () {
    this.getMyOrders()
  },
  computed: {
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  methods: {
    getMyOrders () {
      getMyOrders(this.page).then(res => {
        this.myOrders = res.data.records
        this.page.totals = res.data.total
      })
    },
    // 采购方第一次支付没有成功，再次进行支付
    aliPay (order) {
      this.$message('正在跳转界面')

      aliPay(order.id).then(res => {
        console.log('apliPay.res')
        console.log(res)

        const divForm = document.getElementsByTagName('div')
        if (divForm.length) {
          document.body.removeChild(divForm[0])
        }

        const div = document.createElement('div')
        div.innerHTML = res // res.data就是sb支付宝返回给你的form
        document.body.appendChild(div)
        document.forms[0].setAttribute('target', '_blank') // 加了_blank可能出问题所以我注释了
        document.forms[0].submit()
        console.log(document)
        this.$router.go(0)
      })
    },
    finishOrders (orders) {
      if (this.userRoleId === 3) {
        finishOrders(orders.id).then(res => {
          console.log(res)
          this.$router.go(0)
        })
      }
    },
    checkDetails (orders) {
      this.orders = orders
      this.dialogVisible = true
    },
    pageSizeChange: function (pageSize) {
      this.page.pageSize = pageSize
      this.getMyOrders()
    },
    pageNoChange: function (pageNo) {
      this.page.pageNo = pageNo
      this.getMyOrders()
    }
  }
}
</script>

<style scoped>
    .router-link-active {
        text-decoration: none;
    }
    a{
        text-decoration: none;
        color: dodgerblue;
    }
</style>
