<template>
    <div>
        <el-card class="crumbs-card">
            <div class="crumbs">

                <!-- 面包屑 -->
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item to="/">首页</el-breadcrumb-item>
                    <el-breadcrumb-item >编辑个人信息</el-breadcrumb-item>
                </el-breadcrumb>

            </div>
        </el-card>
        <el-card>
            <div class="Form" >

                <!--<el-button type="primary" @click="dialogZhuxiaoVisible=true">注销用户</el-button>-->
                <el-form  label-width="120px" :label-position="labelPosition">
                    <el-form-item v-if="user.roleId==='3' ||user.roleId==='4'" label="主营方向">
                        <el-checkbox-group  v-model="interestIds">
                            <el-checkbox v-for="item in allInterests"
                                         :key="item.id"
                                         :label="item.id"
                            >{{item.name}}
                            </el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>

                    <el-form-item  v-if="user.roleId==='3' ||user.roleId==='4'" label="公司简介" prop="companyDescription">
                        <el-input type="textarea" v-model="user.companyDescription"></el-input>
                    </el-form-item>
                    <el-form-item v-if="user.roleId==='3' ||user.roleId==='4'" label="上传新的用户图" >
                        <div slot="tip" class="el-upload__tip">只能上传一个文件</div>
                        <el-upload
                                action="/api/user/uploadUserPicture"
                                list-type="picture-card"
                                :limit="1"
                                :on-preview="handlePictureCardPreview"
                                :on-success="handleAvatarSuccess"
                                :on-remove="handleRemove">
                            <i class="el-icon-plus"></i>
                        </el-upload>
                        <el-dialog :visible.sync="imageVisible">
                            <img width="100%" :src="imageUrl" alt="">
                        </el-dialog>
                    </el-form-item>
                    <el-form-item label="用户密码" prop="passWord">
                        <el-input type="passWord" v-model="user.passWord" show-password="false"></el-input>
                    </el-form-item>

                    <el-form-item style="    margin-left: 88%;">
                        <el-button type="primary" @click="editUserDetail">修改</el-button>
                    </el-form-item>
                </el-form>

                <!--<el-dialog-->
                <!--title="确认注销"-->
                <!--:visible.sync="dialogZhuxiaoVisible"-->
                <!--width="30%"-->
                <!--&gt;-->
                <!--<span>确认注销？确认之后无法更改</span>-->
                <!--<span slot="footer" class="dialog-footer">-->
                <!--<el-button @click="dialogVisible = false">取 消</el-button>-->
                <!--<el-button type="primary" @click="deleteUser">确 定</el-button>-->
                <!--</span>-->
                <!--</el-dialog>-->
            </div>
        </el-card>
    </div>

    <!--style="background-color:whitesmoke;"-->
</template>

<script>
import {userDetail, getAllInterestIdName, editUserDetail, removePictureOnOBS, getUserInterestWhenEdit} from '@api/api' // deleteUser
import {mapGetters} from 'vuex'

export default {
  name: 'EditUserIno',
  data () {
    return {
      user: {
      },
      img: [],
      imageVisible: false,
      allInterests: [],
      userInterestNameId: '',
      interestIds: [],

      isIndeterminate: true,
      imageUrl: '',
      dialogZhuxiaoVisible: false,
      labelPosition: 'top'
    }
  },
  computed: {
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  created () {
    this.userDetail()
    this.getAllInterestIdName()
    this.getUserInterest()
  },
  methods: {
    userDetail () {
      userDetail(this.userId).then(res => {
        this.user = res.data
        // if (this.user.userPicture !== null && this.user.userPicture !== '') {
        //   this.imageUrl = this.user.userPicture
        //   this.imageVisible = true
        // }
      })
    },
    getUserInterest () {
      getUserInterestWhenEdit(this.userId).then(res => {
        this.interestIds = res.data
        for (var i = 0; i < this.interestIds.length; i++) {
          this.interestIds[i] = '' + this.interestIds[i]
        }
        console.log(this.interestIds, 'this.interestIds')
      })
    },
    getAllInterestIdName () {
      getAllInterestIdName().then(res => {
        this.allInterests = res.data
        console.log(this.allInterests)
      })
    },
    editUserDetail () {
      if (this.img.length > 0) { this.user.userPicture = this.img[0].userPicturePath }
      this.user.interestIds = this.interestIds
      editUserDetail(this.user).then(res => {
        this.$message('修改成功')
      })
    },
    // deleteUser () {
    //   deleteUser(this.userId).then(res => {
    //     this.dialogZhuxiaoVisible = false
    //     this.$message(res)
    //     if (res === '注销成功') { this.$router.push({path: '/login'}) }
    //   })
    // },

    /// ///
    handleAvatarSuccess (res, file) {
      this.img.push({pictureName: res.pictureName, userPicturePath: res.userPicturePath})
    },
    handlePictureCardPreview (file) {
      this.imageUrl = file.userPicturePath
      this.imageVisible = true
      console.log(this.imageUrl)
    },
    handleRemove (file, filelist) {
      // file.response.url
      this.img.forEach(x => {
        if (x.userPicturePath === file.response.userPicturePath) {
          this.img.splice(this.img.indexOf(x), 1)
          removePictureOnOBS(x.productPicturePath).then()
        }
      })
    },
    handleCheckedCitiesChange (value) {
      let checkedCount = value.length
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length
    }
  }
}
</script>

<style scoped>
 .Form{
     width: 50%;
     /* padding-left: 3%; */
     float: left;
     color: #ffffff;
     margin-left: 25%;
     border: #000000;
 }
</style>
