<template>
        <div id="details">
            <!-- 头部 -->
            <div class="page-header">
                <div class="title">
                    <p>{{user.companyName}}</p>
                    <div class="list" v-if="userId!==user.id">
                        <ul style="">
                            <li style=" list-style: none;color: #ff6700; ">
                                <router-link :to="{name: 'UserAllGoods',query: {toUserId: this.toUserId}}" style="color: #ff6700;">商家商品</router-link>
                                <router-link :to="{name:'IM',query:{routerToId:user.id ,routerCompanyName:user.companyName}}" style="color: #ff6700;">联系商家</router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 头部END -->

            <!-- 主要内容 -->
            <div class="main">
                <!-- 左侧商家照片轮播图 -->
                <div class="block">
                    <div >
                        <img
                                style="height:450px;width: 450px"
                                :src=user.userPicture
                                alt=""
                                :onerror="defaultImg"

                        />
                    </div>
                </div>
                <!-- 左侧商品轮播图END -->

                <!-- 右侧内容区 -->
                <div class="content">
                    <div style="display: inline-flex;">
                        <p class="intro" >用户类型:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <h1 class="store" style="padding-top: 1%;">{{user.userType}}</h1>
                    </div>
                    <div style="display: inline-flex;">
                        <p class="intro" > 用户名称:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <p class="userName" style="padding-top: 1.5%;">{{user.userName}}</p>
                    </div>

                    <div style="display: inline-flex;">
                        <p class="intro" >公司名称:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <p class="companyName" style="padding-top: 1.5%;">{{user.companyName}}</p>
                    </div>
                    <div style="display: inline-flex;">
                        <p class="intro">主营方向:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <p style="padding-top: 1.5%;color: #b0b0b0;" v-for=" interest in interests"
                           :key="interest">{{interest}}&nbsp;&nbsp;</p>
                    </div>
                    <div >
                        <p class="intro">公司简介:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <p style="font-size:x-small;color: #b0b0b0;" >&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;{{user.companyDescription}}</p>
                    </div>

                </div>
                <!-- 右侧内容区END -->
            </div>
            <!-- 主要内容END -->

        </div>

</template>

<script>
import {userDetail} from '@api/api'
import {mapGetters} from 'vuex'

export default {
  name: 'UserInfo',
  data () {
    return {
      user: '',
      interests: [],
      toUserId: '',
      // defaultImg: 'this.src="' + require('../../../../assets/images/pdf.png') + '"',
      defaultImg: 'this.src="' + require('../../../../assets/images/photo.png') + '"'

    }
  },
  created () {
    console.log(this.$route.query.toUserId, this.user)
    if (this.$route.query.toUserId !== null && this.$route.query.toUserId !== undefined && this.$route.query.toUserId !== '') {
      this.toUserId = this.$route.query.toUserId
      this.userDetail(this.toUserId)
      console.log('111')
    } else {
      this.userDetail(this.userId)
      console.log('222')
    }
  },
  computed: {
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  methods: {
    userDetail (id) {
      userDetail(id).then(res => {
        this.user = res.data
        console.log('user.userPicture', this.user.userPicture)
        if (this.user.userPicture === null) {
          this.user.userPicture = ''
        }
        this.interests = this.user.userInterests
      })
    }
  }
}
</script>

<style>
    /* 头部CSS */
    #details .page-header {
        height: 64px;
        margin-top: -20px;
        z-index: 4;
        background: #fff;
        border-bottom: 1px solid #e0e0e0;
        -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
    }
    #details .page-header .title {
        width: 1225px;
        height: 64px;
        line-height: 64px;
        font-size: 18px;
        font-weight: 400;
        color: #212121;
        margin: 0 auto;
    }
    #details .page-header .title p {
        padding-left: 2%;
        float: left;
    }
    #details .page-header .title .list {
        padding-right: 3%;
        height: 64px;
        float: right;
    }
    #details .page-header .title .list li {
        float: left;
        margin-left: 20px;
    }
    #details .page-header .title .list li a {
        font-size: 14px;
        color: #616161;
    }
    #details .page-header .title .list li a:hover {
        font-size: 14px;
        color: #ff6700;
    }
    /* 头部CSS END */

    /* 主要内容CSS */
    #details .main {
        width: 1225px;
        height: 560px;
        padding-top: 30px;
        margin: 0 auto;
    }
    #details .main .block {
        margin-left: -12%;
        float: left;
        width: 450px;
        height: 450px;

    }
    #details .el-carousel .el-carousel__indicator .el-carousel__button {
        background-color: rgba(163, 163, 163, 0.8);
    }
    #details .main .content {
        display: inline-grid;
        float: right;
        margin-left: 25px;
        margin-right: 25px;
        width: 575px;
        background-color: rgb(244, 244, 244);
    }
    #details .main .content .name {
        height: 30px;
        line-height: 30px;
        font-size: 24px;
        font-weight: normal;
        color: #212121;
    }
    #details .main .content .intro {
        color: #b0b0b0;
        padding-top: 10px;
    }
    #details .main .content .store {
        color: #ff6700;
        font-size: x-large
    }
    #details .main .content .price {
        display: block;
        font-size: 18px;
        color: #ff6700;
        border-bottom: 1px solid #e0e0e0;
        padding: 25px 0 25px;
    }
    #details .main .content .price .del {
        font-size: 14px;
        margin-left: 10px;
        color: #b0b0b0;
        text-decoration: line-through;
    }
    #details .main .content .pro-list {
        background: #f9f9fa;
        padding: 30px 60px;
        margin: 50px 0 50px;
    }
    #details .main .content .pro-list span {
        line-height: 30px;
        color: #616161;
    }
    #details .main .content .pro-list .pro-price {
        float: right;
    }
    #details .main .content .pro-list .pro-price .pro-del {
        margin-left: 10px;
        text-decoration: line-through;
    }
    #details .main .content .pro-list .price-sum {
        color: #ff6700;
        font-size: 24px;
        padding-top: 20px;
    }
    #details .main .content .button {
        height: 55px;
        margin: 10px 0 20px 0;
    }
    #details .main .content .button .el-button {
        float: left;
        height: 55px;
        font-size: 16px;
        color: #fff;
        border: none;
        text-align: center;
    }
    #details .main .content .button .shop-cart {
        width: 180px;
        background-color: #ff6700;
    }
    #details .main .content .button .shop-cart:hover {
        background-color: #f25807;
    }

    #details .main .content .button .like {
        width: 180px;
        margin-left: 40px;
        background-color: #b0b0b0;
    }
    #details .main .content .button .like:hover {
        background-color: #757575;
    }
    #details .main .content .pro-policy li {
        float: left;
        margin-right: 20px;
        color: #b0b0b0;
    }
    /* 主要内容CSS END */
    .inline-infor1{
        display: inline-block;
    }
    .router-link-active {
        text-decoration: none;
    }

</style>
